<div class="container">
    <div id="itemContainer" class="article-wrapper clearfix">
        {% assign sorted-article = site.data.article | sort: 'slugID' | reverse %}
        {% for article in sorted-article %}
        <div class="col-md-4 col-sm-6 col-xs-12 article-item">
            <a href="{{ article.link }}" class="article-link" target="_blank">
                <div class="article-image-container loading">
                    <div class="caption">
                        <span class="caption-text">Visit Article</span>
                    </div>
                    <img class="b-lazy article-image img-responsive center-block" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ article.cover }}" alt="article-image"/>
                </div>
                <div class="article-title-container">
                    <span class="article-title">{{ article.title | truncate: 40 }}</span>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
    <div class="pagination holder"></div>
</div>