<div class="container">
<h3>Terms & Conditions</h3>

    <strong>PRIVACY.</strong>
    <br/>
    <p>
    We have developed a Privacy Policy in order to inform you of its practices with respect to the collection, use, disclosure and protection of your information.
    You can find the Privacy Policy, which is incorporated into this Agreement, by clicking here, and by using this Site you agree to the terms of the Privacy Policy.
    </p>

    <strong>GENERAL TERMS AND CONDITIONS.</strong>
    <br/>
    <p>
    Unless otherwise noted, the products and services on the Site are intended for personal, non-commercial purposes only. You agree to use the Site only for lawful, noncommercial purposes and in compliance with all international, federal, state and local laws. Except as expressly permitted in these Terms and Conditions, you may not use, reproduce, distribute, reverse engineer, modify, copy, publish, display, transmit, adapt, frame, link, rent, lease, loan, sell, license or in any way exploit the content of the Site. 
    </p>

    <strong>ELIGIBILITY.</strong>
    <br/>
    <p>
    You represent and warrant that you (a) are above the legal age of majority in your jurisdiction of residence, (b) have not previously been suspended or removed from the Site, (c) do not have more than one (1) account at any given time for the Site; (d) you will only provide us with true, accurate, current and complete information if you register for an account and/or Orders (defined below). If we believe or suspect that your information is not true, accurate, current or complete, we may deny or terminate your access to the Site or Services (or any portion thereof) and (d) that you have full power and authority to enter into the Terms and Conditions and in doing so will not violate any other agreement to which you are a party.
    </p>
</div>

