<div class="alert alert-success" role="alert">
    <span data-search-found-count></span> result(s) found for &ldquo;<span data-search-found-term></span>&rdquo;.
</div>

<div class="row">
    <div data-search-results></div>
</div>
<!-- Search result template -->
<script type="text/x-template" id="search-result">
    <div class="item col-sm-6 col-lg-4">
        <div class="thumbnail">
            <img class="group list-group-image" src="http://placehold.it/640x400/000/fff" alt="">
            <div class="caption">
                <h4 class="group inner list-group-item-heading">##Title##</h4>
                <p class="group inner list-group-item-text"></p><p>##Description##</p>
                <p></p>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <p class="lead">₱ ##Price##</p>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <a class="btn btn-success" href="##Url##">View More Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>




