<div class="alert alert-success" role="alert" data-search-found>
    <span data-search-found-count></span> result(s) found for &ldquo;<span data-search-found-term></span>&rdquo;.
</div>

<div class="row">
    <div data-search-results></div>
</div>
<!-- Search result template -->
<script type="text/x-template" id="search-result">
    <div class="item col-sm-6 col-lg-3">
        <a href="##Url##">
            <div class="thumbnail">
                <img class="group list-group-image" src="##Feature_image##" alt="" />
                <div class="caption text-center">
                    <h4 class="group inner list-group-item-heading">##Title##</h4>
                </div>
            </div>
        </a>
    </div>
</script>




