---
layout: pages/front
---
<section id="cover">
    {% include front/cover.html %}
</section>
<section id="ribbon">
    {% include front/ribbon.html %}
</section>
<section id="product-category">
    {% include front/product-category.html %}
</section>
<section id="best-seller">
    {% include front/best-seller.html %}
</section>
<section id="promo">
    {% include front/promo.html %}
</section>
<section id="shop">
    {% include front/shop.html %}
</section>
<section id="instagram">
    {% include front/instagram.html %}
</section>

