---
layout: default
title: Article
css: |
    <link rel="stylesheet" href="/css/article.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izimodal/1.5.1/css/iziModal.css">
head: |
javascripts: |
    <script type="text/javascript" src="/js/jquery-1.11.3.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/search.js"></script>
    <script type="text/javascript" src="/js/jPages.min.js"></script>
    <script type="text/javascript" src="/js/plugins/blazy.min.js"></script>


    <script type="text/javascript">
        /*$(window).scroll(function() {
            if ($(document).scrollTop() > 50) {
                $('nav').addClass('shrink');
            } else {
                $('nav').removeClass('shrink');
            }
        });*/

        var blazy = new Blazy({
            breakpoints: [{
                src: 'data-src'
            }],
            success: function(element){
                setTimeout(function(){
                    var parentVideo = element.parentNode.parentNode;
                    var parentBlog = element.parentNode;

                    parentVideo.className = parentVideo.className.replace(/\bloading\b/,'');
                    parentBlog.className = parentBlog.className.replace(/\bloading\b/,'');
                }, 200);
            }
        });
        /*jPages function*/
        $(function() {
            /* initiate plugin */
            $("div.holder").jPages({
                containerID: "itemContainer",
                perPage: 9,
                previous: "Previous",
                next: "Next",
                startPage    : 1,
                startRange   : 1,
                midRange     : 5,
                endRange     : 1,
                callback: function(){
                    blazy.revalidate();
                }

            });

        });
    </script>




---
{{ content }}