---
layout: default
title: Contact
css: /css/contact.css
javascripts: |
    <script type="text/javascript" src="/js/jquery-1.11.3.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/social-widgets.js"></script>
    <script type="text/javascript" src="/js/search.js"></script>
    <script type="text/javascript" src="/js/scroll-reveal.js"></script>
    <script type="text/javascript">
        $(window).scroll(function() {
            if ($(document).scrollTop() > 50) {
                $('nav').addClass('shrink');
            } else {
                $('nav').removeClass('shrink');
            }
        });

        window.sr = new scrollReveal();
    </script>
---

{{ content }}