---
layout: default
title: Home
css: /css/home.css

head: |
javascripts: |
    <script type="text/javascript" src="/js/jquery-1.11.3.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/swiper.min.js"></script>
    <script type="text/javascript" src="/js/front.js"></script>
    <script type="text/javascript" src="/js/search.js"></script>
    <script type="text/javascript" src="/js/instafeed.min.js"></script>
    <script type="text/javascript" src="/js/plugins/blazy.min.js"></script>

---

{{ content }}