---
layout: default
title: Home
css: /css/home.css

head: |
javascripts: |
    <script type="text/javascript" src="/js/jquery-1.11.3.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/swiper.min.js"></script>
    <script type="text/javascript" src="/js/front.js"></script>
    <script type="text/javascript" src="/js/search.js"></script>
    <script type="text/javascript">
        $(window).scroll(function() {
            if ($(document).scrollTop() > 50) {
                $('nav').addClass('shrink');
            } else {
                $('nav').removeClass('shrink');
            }
        });

        var swiper1 = new Swiper('#cover-slider',{
            autoplay: {
                delay: 6000,
                disableOnInteraction: false
            },
            speed: 300,
            grabCursor: false,
            preventInteractionOnTransition: true,
            noSwiping: true,
            noSwipingSelector: "#cover-slider",
            loop: true
        });

        var swiper2 = new Swiper('#promo-slider', {
            slidesPerView: 2,
            spaceBetween: 30,
            loop: true,
            autoplay: {
                delay: 7000,
                disableOnInteraction: false
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            }
        });

    </script>

---

{{ content }}