---
layout: default
title: Store Locator
css: |
    <link rel="stylesheet" href="/css/storelocator.css"/>
head: |
javascripts: |
    <script type="text/javascript" src="/js/jquery-1.11.3.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script src="https://maps.google.com/maps/api/js?key=AIzaSyC8ZY-_OIKHT5H6H_WtIEyR_I231Qi127o"></script>
    <script type="text/javascript" src="/js/plugins/storeLocator/jquery.storelocator.js"></script>
    <script type="text/javascript" src="/js/libs/handlebars.min.js"></script>
    <script type="text/javascript" src="/js/storelocator.js"></script>
    <script type="text/javascript" src="/js/search.js"></script>
    <!--<script type="text/javascript">
        $(window).scroll(function() {
            if ($(document).scrollTop() > 50) {
                $('nav').addClass('shrink');
            } else {
                $('nav').removeClass('shrink');
            }
        });
    </script>-->
---
{{ content }}