---
layout: default
title: Terms and Conditions
css: |
    <link rel="stylesheet" href="/css/terms-condition.css"/>
head: |
javascripts: |
    <script type="text/javascript" src="/js/jquery-1.11.3.js"></script>
    <script type="text/javascript" src="/js/search.js"></script>
    <script type="text/javascript">
        $/*(window).scroll(function() {
            if ($(document).scrollTop() > 50) {
                $('nav').addClass('shrink');
            } else {
                $('nav').removeClass('shrink');
            }
        });*/
    </script>

---
{{ content }}
