---
layout: default
title: Video
css: /css/video.css
head: |
javascripts: |
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/socialWidgets.js"></script>
    <script type="text/javascript" src="/js/search.js"></script>
    <script type="text/javascript" src="/js/ycp-2.js"></script>
    <script type="text/javascript">
        ibacor_ycp(
                channels_name = 'cosrev05',
                type = 'UC_xfpehkmSe9Soe5maW5P1Q',
                list_count = 10,
                autoplay = true,
                apikey = 'AIzaSyCj2GrDSBy6ISeGg3aWUM4mn3izlA1wgt0'
        );

        $(window).scroll(function() {
            if ($(document).scrollTop() > 50) {
                $('nav').addClass('shrink');
            } else {
                $('nav').removeClass('shrink');
            }
        });
    </script>

---

{{ content }}