---
layout: default
title: Whats New
css: /css/whats-new.css
head: |
javascripts: |
    <script type="text/javascript" src="/js/jquery-1.11.3.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/product-category.js"></script>
    <script type="text/javascript" src="/js/social-widgets.js"></script>
    <script type="text/javascript" src="/js/search.js"></script>
    <script type="text/javascript" src="/js/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="/js/packery-mode.pkgd.min.js"></script>
    <script src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>

    <script type="text/javascript">
        $(window).scroll(function() {
            if ($(document).scrollTop() > 50) {
                $('nav').addClass('shrink');
            } else {
                $('nav').removeClass('shrink');
            }
        });

        //isotope
        $(function() {
            var $grid = $('.grid').isotope({
                layoutMode: 'packery',
                itemSelector: '.grid-item'
            });

            $grid.imagesLoaded().progress( function() {
                $grid.isotope('layout');
            });
        });
    </script>
---
{{ content }}