<footer>
    <div class="container">
        <div id="footer-links-container" class="row">
            <ul class="footer-links">
                <li>ABOUT US</li>
                <li>|</li>
                <li>TERMS & CONDITIONS</li>
                <li>|</li>
                <li>SITE MAP</li>
                <li>|</li>
                <li>STORE LOCATOR</li>
                <li></li>
                <li>CONTACT US</li>
            </ul>
        </div>
        <div id="social-media-container">
            <div id="copyrights">
                <p><span class="glyphicon glyphicon-copyright-mark"></span> 2015 ALL RIGHTS RESERVED FASHION 21</p>
            </div>
            <div id="social-media">
                <ul>
                    <li>
                        <a href="">
                            <img src="/img/social-media/rss.png"/>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="/img/social-media/instagram.png"/>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="/img/social-media/youtube.png"/>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="/img/social-media/twitter.png"/>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="/img/social-media/facebook.png"/>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>