<footer>
    <div class="container">
        <div id="footer-links-container" class="row">
            <ul class="footer-links">
                <li>
                    <a href="/about">ABOUT</a>
                </li>
                <li>
                    <a href="/terms">TERMS & CONDITIONS</a>
                </li>

                <li class="hidden-sm hidden-xs">
                    <a href="/storelocator">STORE LOCATOR</a>
                </li>

                <li>
                    <a class="typeform-share link" href="https://johndoe8.typeform.com/to/Vl2C66" data-mode="1" target="_blank">CONTACT</a>
                </li>
            </ul>
            <span id="copyright">2015-2017 ALL RIGHTS RESERVED FASHION21 COSMETICS. FDA REGISTERED.</span>
        </div>
    </div>
</footer>