<footer>
    <div class="container">
        <div id="footer-links-container" class="row">
            <ul class="footer-links">
                <li>
                    <a href="/about">ABOUT FASHION21</a>
                </li>
                <li>
                    <a href="/terms">TERMS & CONDITIONS</a>
                </li>

                <li>
                    <a href="/sitemap">SITE MAP</a>
                </li>

                <li>
                    <a href="/storelocator">STORE LOCATOR</a>
                </li>
            </ul>
        </div>
    </div>
</footer>