<nav class="navbar navbar-default">
    <div class="container">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a class="active" href="#">HOME</a></li>
                <li><a href="#">WHAT'S NEW</a></li>
                <li><a href="#">PRODUCTS</a></li>
                <li>
                    <a href="#">
                        <img src="{{ 'img/brand-logo.png' | prepend: site.baseurl }}" class="brand-logo-small"/>
                    </a>
                </li>
                <li><a href="#">LEARN</a></li>
                <li>
                    <a href="#">
                        <span class="glyphicon glyphicon-search"/>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="glyphicon glyphicon-user"/>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

