<aside id="sticky-social">
    <ul>
        <li><a href="https://tackthis.co/shop/fashion21/" class="custom-icon entypo-basket" target="_blank"><span>Shop</span></a></li>
        <li><a href="https://www.facebook.com/F21Cosmetics/" class="entypo-facebook" target="_blank"><span>Facebook</span></a></li>
        <li><a href="https://twitter.com/Fashion21_C" class="entypo-twitter" target="_blank"><span>Twitter</span></a></li>
        <li><a href="https://www.instagram.com/fashion21_cosmetics/" class="entypo-instagrem" taget="_blank"><span>Instagram</span></a></li>
    </ul>
</aside>