<aside id="sticky-social">
    <ul>
        <li>
            <a href="https://www.facebook.com/F21Cosmetics/" class="entypo-facebook" target="_blank">
                <img src="/img/socialmedia-icon/facebook.svg" class="sticky-icon"/>
                <span>Facebook</span>
            </a>
        </li>
        <li>
            <a href="https://www.instagram.com/fashion21_cosmetics/" class="entypo-instagrem" target="_blank">
                <img src="/img/socialmedia-icon/instagram.svg" class="sticky-icon"/>
                <span>Instagram</span>
            </a>
        </li>
    </ul>
</aside>