<aside id="sticky-social">
    <ul>
        <li>
            <a href="https://www.facebook.com/F21Cosmetics/" class="entypo-facebook" target="_blank">
                <span>Facebook</span>
            </a>
        </li>

        <li>
            <a href="https://twitter.com/Fashion21_C" class="entypo-twitter" target="_blank">
                <span>Twitter</span>
            </a>
        </li>
        <li>
            <a href="https://www.instagram.com/fashion21_cosmetics/" class="entypo-instagrem" target="_blank">
                <span>Instagram</span>
            </a>
        </li>
    </ul>
</aside>