@import "../body"
@import "../navbar"
@import "../footer"
@import "../fonts"

#sitemap
  .container
    h4
      margin: 40px 0 0 0
      font-size: 24px
      font-family: 'Avenir-Bold'
    .content-section
      padding: 20px 0 0
      h5
        font-size: 19px
        font-family: 'Avenir-Bold'
      h6
        font-family: 'Avenir-Bold'
        font-size: 17px
      ul
        height: 115px
        list-style: none
        padding: 0px
      li
        margin: 5px 0px
        a
          font-size: 16px
          text-decoration: none

@media screen and (min-width: 768px)
  #sitemap
    .container
      width: 760px
      