@import "../body"
@import "../navbar"
@import "../footer"
@import "../fonts"

//#mock
//  background: url("/img/sitemap.jpg")
//  opacity: 0.7
//  background-size: cover

#sitemap
  .container
    text-align: center
    h4
      margin: 55px 0px
      font-size: 24px
      font-family: 'Avenir-Bold'
    h5
      font-size: 19px
      font-family: 'Avenir-Bold'
    ul
      padding-left: 0px
      list-style: none
      li
        font-size: 16px
        h6
          font-family: 'Avenir-Bold'
          font-size: 17px
