@font-face
  font-family: 'Avenir-light'
  src: url('/fonts/Avenir-Light.ttf')

@font-face
  font-family: 'Avenir-medium'
  src: url('/fonts/Avenir-Medium.ttf')

@font-face
  font-family: 'Avenir-Bold'
  src: url('/fonts/Avenir-Heavy.ttf')