footer
  height: 112px
  width: 100%
  .container
    padding: 20px 0 0 0
    width: 100%
    #footer-links-container
      margin-left: 20px
      margin-right: 0px
      height: 44px
      border-bottom: 42px solid #eb0029
      border-left: 21px solid #FFFFFF
      .footer-links
        padding-left: 0px
        color: #FFFFFF
        margin: 0px
        font-size: 14px
        width: 100%
        text-align: center
        li
          padding: 14px 15px 0
          list-style: none
          display: inline-block
          &:last-child
            padding-top: 0px
          .ig-follow
            margin-top: -5px
          a
            color: #FFFFFF

          a:hover
            text-decoration: none
    #social-media
      margin: 0 auto
      ul
        text-align: center
        list-style: none
        li
          padding: 10px 10px 0
          list-style: none
          display: inline-block
    #copyrights-container
      width: 100%
      p
        font-size: 13px
        text-align: center
        margin: 15px 0px

@media screen and (max-width: 830px)
  footer
    .container
      #footer-links-container
        .footer-links
          li
            &:nth-child(4)
              display: none
            &:nth-child(5)
              display: none
      #social-media
        display: table
        ul
          li
            display: inline-block
@media screen and (max-width: 540px)
  footer
    .container
      #footer-links-container
        margin-left: 5px
        .footer-links
          font-size: 11px
@media screen and (max-width: 400px)
  footer
    #footer-links-container
      margin-left: 0px
      border-left: none
@media screen and (max-width: 370px)
  footer
    .container
      #footer-links-container
        .footer-links
          li
            padding: 14px 8px 0



