footer
  position: relative
  margin-top: -27px
  .container
    padding-top: 20px
    width: 100%
    #footer-links-container
      margin-left: 20px
      height: 44px
      border-bottom: 42px solid red
      border-left: 21px solid #FFFFFF
      .footer-links
        color: #FFFFFF
        margin: 0px
        font-size: 13px
        padding-top: 14px
        width: 100%
        text-align: center
        li
          list-style: none
          display: inline-block
          &:nth-child(odd)
            padding: 0 15px
          a
            color: #FFFFFF
    #copyrights-container
      width: 100%
      p
        font-size: 13px
        text-align: center
        margin: 15px 0px