body
  #searchModal
    padding: 0px !important
    .modal-content
      height: 88px
      border-radius: 0
      .form-control
        height: 55px
        font-size: 25px
      button
        height: 55px
        width: 55px
      .container-fluid
        margin: 0px
        padding: 0px
        .modal-body
          overflow-y: auto
          max-height: calc(100vh - 100px)
          