body
  #searchModal
    padding: 0px !important
    .modal-content
      height: 88px
      border-radius: 0
      .form-control
        height: 55px
        font-size: 14px
      button
        height: 55px
        width: 55px
      .container-fluid
        margin: 0px
        padding: 0px
        .modal-body
          overflow-y: auto
          max-height: calc(100vh - 100px)
          .alert-success
            background-color: white
            color: black
          .thumbnail
            img
              height: 300px
            &:hover
              h4
                transition: all 300ms ease
                color: #eb0029