nav
  &.navbar-default
    font-family: Avenir-medium
    color: #000
    border-radius: 0px
    background-color: transparent
    border-color: transparent
    .container
      max-width: 643px
      height: 62px
      padding-left: 0px
      padding-right: 0px
      .navbar-nav
        margin-top: 37px
        li
          &:nth-child(1)

          &:nth-child(2)
            padding: 0 26px
          &:nth-child(3)
            padding-left: 10px
            padding-right: 32px
          &:nth-child(5)
            padding-left: 32px
            padding-right: 9px
          &:nth-child(6)
            padding: 0 35px
          &:nth-child(7)
            padding-left: 31px
          a
            color: #000
            padding: 0px
            &:hover
              color: red
            img
              margin-top: -11px
              height: 24px

//@media screen and (max-width: 768px)
//nav
//  &.navbar-default
//    .container
//      .navbar-nav
//        li
//          &:nth-child(4)
//            //display: none

