//Global
.active-text
  color: #eb0029 !important

nav
  transition: all 300ms ease
  -webkit-transition: all 300ms ease
  -moz-transition: all 300ms ease
  -o-transition: all 300ms ease
  -ms-transition: all 300ms ease
  background: #FFFFFF
  &.shrink
    .container
      .navbar-nav
        .navbar-item
          .navbar-link
            margin: 15px 0 15px 0 !important
            padding-top: 0px !important
            padding-bottom: 0px !important
            font-size: 8px
            .brand-logo-small
              height: 30px !important
  &.navbar-default
    font-family: Avenir-medium
    color: #000
    border-radius: 0px
    border-bottom: 1px solid #f5f5f5
    background-color: #ffffff
    .container
      margin-top: 15px
      height: inherit
      width: 100%
      .mobile-nav-brand
        display: inline-block
        .brand-logo
          display: none
      .navbar-toggle
        top: 0
        right: 0
        //margin-top: 17px
        position: absolute
      .navbar-nav
        float: none
        margin: 0px auto 0px
        display: table
        .navbar-item
          display: inline-block
          padding: 0 25px
          min-width: 141px
          text-align: center
          margin: 10px auto
          &.shop-link
            background-color: #eb0029
            transition: all 300ms ease
            -webkit-transition: all 300ms ease
            -moz-transition: all 300ms ease
            -o-transition: all 300ms ease
            -ms-transition: all 300ms ease
            &:hover
              color: #ffffff
              background-color: #000000
            .navbar-link
              color: white !important
              &:hover, &:active, &:focus, &:visited
                color: white !important


                background-color: #000000

          .navbar-link
            outline: none
            margin: 20px 0
            font-size: 14px
            color: #000
            padding: 0
            transition: all 300ms ease
            -webkit-transition: all 300ms ease
            -moz-transition: all 300ms ease
            -o-transition: all 300ms ease
            -ms-transition: all 300ms ease
            &:hover
              color: #eb0029
            .brand-logo-small
              transition: all 300ms ease
              -webkit-transition: all 300ms ease
              -moz-transition: all 300ms ease
              -o-transition: all 300ms ease
              -ms-transition: all 300ms ease
              height: 40px
              margin-top: -15px

/* PRODUCT SEARCH */

body
  #searchModal
    .modal-content
      .container-fluid
        .modal-body
          background-color: #FFFFFF

.product-result-container
  .product-item
    margin-top: 30px
    margin-bottom: 30px
    .product-url
      text-decoration: none
      .product-title
        color: #000000
        font-size: 18px


@media (max-width: 1200px)
  body
    margin-top: 77px !important

  .navbar.navbar-fixed-top
    .container
      padding: 0 5px 0 5px
  .navbar-header
    float: none
  .navbar-left, .navbar-right
    float: none !important
  .navbar-toggle
    display: block
  .navbar-collapse
    border-top: 1px solid transparent
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1)
    max-height: none !important
  .navbar-fixed-top
    top: 0
    border-width: 0 0 1px
  .navbar-collapse.collapse
    display: none !important
  .navbar-nav
    height: auto !important
    float: none !important
    margin: 5px auto 0 !important
    display: table
    .navbar-item
      transform: none
      top: auto !important
      display: table
      float: none
      margin-bottom: 11px
      .navbar-link
        font-size: 1.2em
        padding-top: 10px
        padding-bottom: 10px
  .collapse.in
    display: block !important
    overflow-x: hidden !important


  nav.navbar-default
    &.shrink
      .navbar-toggle
        margin-top: 18px !important
      .mobile-nav-brand
        .brand-logo
          height: 30px !important
      .navbar-toggle
        margin: 8px 15px 8px 0

    .container
      margin-top: 0
      .navbar-navbar-default
        height: 87px
      .mobile-nav-brand
        float: none
        display: inline-block
        .brand-logo
          transition: all 300ms ease
          -webkit-transition: all 300ms ease
          -moz-transition: all 300ms ease
          -o-transition: all 300ms ease
          -ms-transition: all 300ms ease
          display: block
          height: 40px
          margin: 15px
      .navbar-toggle
        transition: all 300ms ease
        -webkit-transition: all 300ms ease
        -moz-transition: all 300ms ease
        -o-transition: all 300ms ease
        -ms-transition: all 300ms ease
        margin-top: 21px
        border-color: transparent
        &:focus, &:hover
          background-color: transparent
        .icon-bar
          background-color: #000
          border-radius: 1px
          height: 2px
      .navbar-nav
        .navbar-item
          text-align: center
          display: block
          margin: 0
          &:nth-of-type(4)
            display: none
          .navbar-link
            font-size: 14px !important
            padding: 12px !important
            margin: 10px 0 !important
            color: #000
            .brand-logo-small
              display: none
//@media screen and (max-width: 767px)
