@import "fonts"
@import "body"
@import "navbar"
@import "footer"
@import "modal"



body
  margin-top: 101px

//  Global Declaration
.iziModal
  border-radius: 0!important
  background-color: black !important

#banner
  position: relative
  width: 100%
  height: 300px
  background-image: url("https://picsum.photos/1920/300")
  background-position: center center
  background-size: cover
  background-repeat: no-repeat
  .bg-overlay
    position: absolute
    width: 100%
    height: 100%
    z-index: 1
    background-color: rgba(0,0,0,0.3)
  .banner-text
    position: relative
    text-align: center
    display: block
    z-index: 2
    font-family: "Avenir-Bold",sans-serif
    font-size: 48px
    color: white
    padding: 116px 0
    text-transform: uppercase

//Video section
#video
  position: relative
  &:before
    content: " "
    border-top: 1px solid #efefef
    position: absolute
    top: 0px
    width: 100%
    display: block
    z-index: -3
  .banner-section
    position: relative
    color: #FFF
    background: $fashion21Red
    text-transform: uppercase
    display: inline-block
    padding: 25px 40px 25px 80px
    margin-bottom: 30px
    &:after
      content: " "
      position: absolute
      display: block
      width: 100%
      height: 100%
      top: 0
      left: 0
      z-index: -1
      background: $fashion21Red
      transform-origin: bottom left
      transform: skew(-20deg, 0deg)
      -webkit-transform: skew(-20deg, 0deg)
      -moz-transform: skew(-20deg, 0deg)
      -o-transform: skew(-20deg, 0deg)
      -ms-transform: skew(-20deg, 0deg)
    .banner-title
      font-family: 'Avenir-Bold', sans-serif
      color: #fff
      display: block
      font-size: 24px
  .container
    .video-list-container
      position: relative
      .video-list
        margin-bottom: 30px
        .video-link
          text-decoration: none
          position: relative
          display: block
          .video-image-container
            position: relative
            &.loading
              background-color: #f7f7f7
              padding-bottom: 56% !important
              .video-play-container
                opacity: 0
            .video-play-container
              opacity: 1
              position: absolute
              width: 100%
              height: 100%
              transition: all 300ms ease-in-out
              -webkit-transition: all 300ms ease-in-out
              -moz-transition: all 300ms ease-in-out
              -o-transition: all 300ms ease-in-out
              -ms-transition: all 300ms ease-in-out
              .video-play
                display: block
                color: white
                font-size: 64px
                text-align: center
                top: 50%
                transform: translateY(-50%)
                -webkit-transform: translateY(-50%)
                -moz-transform: translateY(-50%)
                -o-transform: translateY(-50%)
                -ms-transform: translateY(-50%)
            &:hover
              .video-play-container
                background-color: rgba(0,0,0,0.7)

          .video-title-container
            position: relative
            background-color: $fashion21Red
            height: 100px
            padding-left: 15px
            padding-right: 15px
            .video-title
              line-height: 25px
              color: $white
              display: block
              text-align: center
              font-size: 16px
              text-transform: capitalize
              position: relative
              top: 50%
              transform: translateY(-50%)
              -webkit-transform: translateY(-50%)
              -moz-transform: translateY(-50%)
              -o-transform: translateY(-50%)
              -ms-transform: translateY(-50%)

    .more-video-container
      position: relative
      margin-top: 30px
      .more-video-button
        display: table
        margin-left: auto
        margin-right: auto
        color: $white
        border: 1px solid #494949
        background: #494949
        text-decoration: none
        font-size: 20px
        letter-spacing: 5px
        text-transform: uppercase
        padding: 15px 60px
        transition: all 300ms ease-in-out
        -webkit-transition: all 300ms ease-in-out
        -moz-transition: all 300ms ease-in-out
        -o-transition: all 300ms ease-in-out
        -ms-transition: all 300ms ease-in-out
        &:hover
          color: $white
          border: 1px solid transparent
          background-color: #757575


//Blog Section
#blog
  position: relative
  padding-top: 40px
  padding-bottom: 40px
  .banner-section
    position: relative
    color: #FFF
    background: $fashion21Red
    text-transform: uppercase
    display: inline-block
    padding: 25px 40px 25px 80px
    margin-bottom: 30px
    &:after
      content: " "
      position: absolute
      display: block
      width: 100%
      height: 100%
      top: 0
      left: 0
      z-index: -1
      background: $fashion21Red
      transform-origin: bottom left
      transform: skew(-20deg, 0deg)
      -webkit-transform: skew(-20deg, 0deg)
      -moz-transform: skew(-20deg, 0deg)
      -o-transform: skew(-20deg, 0deg)
      -ms-transform: skew(-20deg, 0deg)
    .banner-title
      font-family: 'Avenir-Bold', sans-serif
      color: #fff
      display: block
      font-size: 24px

  .container
    .blog-list-container
      .blog-wrapper
        .blog-item
          margin-bottom: 30px
          .blog-link
            position: relative
            text-decoration: none
            display: block
            .blog-image-container
              position: relative
              &.loading
                background-color: #f7f7f7
                padding-bottom: 66.668% !important
            .blog-title-container
              position: relative
              background-color: $black
              height: 100px
              padding-left: 15px
              padding-right: 15px
              .blog-title
                line-height: 25px
                color: $white
                display: block
                text-align: center
                font-size: 16px
                text-transform: capitalize
                position: relative
                top: 50%
                transform: translateY(-50%)
                -webkit-transform: translateY(-50%)
                -moz-transform: translateY(-50%)
                -o-transform: translateY(-50%)
                -ms-transform: translateY(-50%)

      .more-article-container
        position: relative
        margin-top: 30px
        .more-article-button
          display: table
          margin-left: auto
          margin-right: auto
          color: $white
          border: 1px solid #494949
          background: #494949
          text-decoration: none
          font-size: 20px
          letter-spacing: 5px
          text-transform: uppercase
          padding: 15px 60px
          transition: all 300ms ease-in-out
          -webkit-transition: all 300ms ease-in-out
          -moz-transition: all 300ms ease-in-out
          -o-transition: all 300ms ease-in-out
          -ms-transition: all 300ms ease-in-out
          &:hover
            color: $white
            border: 1px solid transparent
            background-color: #757575

@media (min-width: 1442px)
  #video
    .container
      width: 100%
      max-width: 1440px
      margin-left: auto
      margin-right: auto

  #blog
    .container
      width: 100%
      max-width: 1440px
      margin-left: auto
      margin-right: auto

@media (max-width: 991px)
  #video
    margin-bottom: 60px


@media (max-width: 480px)
  #banner
    height: auto
    .banner-text
      font-size: 28px
      padding: 120px 0

  #video
    margin-bottom: 30px
    .banner-section
      padding: 25px 40px
      .banner-title
        font-size: 18px
    .container
      .more-video-container
        .more-video-button
          font-size: 18px

  #blog
    .banner-section
      padding: 25px 40px
      .banner-title
        font-size: 18px

    .container
      .blog-list-container
        .blog-wrapper
          .blog-item
            .blog-link
              .blog-title-container
                .blog-title
                  font-size: 16px


