// Global declaration
body

#mock-up
  background-image: url("/img/front.jpg")
  opacity: 0.8
  height: 3285px
  width: auto

// colors
$white: white
$black: black
$gray: #333333
$skyblue: #0fb5b3

.text-center
  text-align: center

.section-header
  margin: 45px 0px 30px

ul
  list-style: none

a:hover,
a:active,
a:focus
  text-decoration: none
  color: none

//header style

nav
  &#work-navbar
    background-color: $gray
    border-color: transparent
    &.navbar-visible
      top: 0
    &.navbar-hidden
      top: -100px
    &.navbar
      min-height: 68px
      transition: linear 0.25s
    a
      color: $white
      text-decoration: none
    .nav-container
      margin: 0 12px
      padding-top: 0
      padding-bottom: 0
      .navbar-header
        .navbar-brand
          height: 66px
          padding-top: 0
          padding-bottom: 0
          line-height: 55px
          margin-left: 30px
          padding: 0
          a
            img
              top: auto
              margin-top: 6px
              float: left
              &.brand-logo-small
                height: 55px
        button
          margin-top: 20px
      // end of navbar-header
      .navbar-collapse
        border-color: transparent
        .navbar-right
          margin-right: 30px
          ul
            &.nav
              padding-right: 0
              width: 100%
              li
                padding: 25px 0px 0px 8px
                margin-top: 0px
                a
                  display: inline
                  padding: 0
                  color: $white
                  font-size: 20px
                  letter-spacing: 3px
                &:not(:last-child)
                  margin-right: 30px

// end of nav

// profile section
#profile
  .container
    min-height: 572px
    width: auto
    background-color: $skyblue
    .col-md-8
      img
        height: 200px
        margin-top: 140px
        margin-bottom: 11px
      h1
        color: $white
      h3
        color: $white
        font-size: 23px
        line-height: 1.5
        margin: 30px 0px 60px 0px
        margin-left: auto
        margin-right: auto
        vertical-align: middle
  .profile-extends
    min-height: 506px
    text-align: center
    h1
      color: $gray
    .row
      margin: 50px 30px 0px 30px

// skill section
#skill
  .container
    min-height: 592px
    width: auto
    background-color: $skyblue
    padding-bottom: 40px
    h1
      color: $white
    .row
      margin: 50px 30px 0px 30px
      .col-md-6
        .col-md-3
          text-align: center
          margin-top: 26px
          h2
            color: $white
          p
            font-size: 17px
            color: $white
  // end of container
  #skill-extend
    min-height: 506px
    background-color: $white
    .row
      margin: 30px 0px 0px 0px
      padding: 0
      .col-md-6
        padding: 0
        ul
          padding: 0
          margin: 0
          width: 100%
          li
            margin-left: auto
            margin-right: auto
            height: 40px
            line-height: 40px
            width: 90%
            background-color: #ecf0f1
            position: relative
            margin-bottom: 30px
            .bar
              height: 100%
              background-color: #e67e22
              padding-left: 20px
              h5
                color: $white
                vertical-align: middle
                padding-top: 10px
                font-size: 19px
            span
              position: absolute
              font-size: 19px
              top: 0
              right: 20px
              color: #222222
    // end of row

// end of skill

// work section
#work
  min-height: 520px
  #work-header
    min-height: 120px
    width: auto
    background-color: $gray
    h1
      padding: 0
      margin: 0
      color: $white
      &.work-text
        padding-top: 19px
    p
      margin: 10px 0px 0px 0px
      color: $white
      padding: 0
  // end of work-header
  .container
    background-color: $white
    position: relative
    min-height: 400px
    width: 100%
    padding: 0
    .col-md-3
      padding: 0
      .work-image
        background-repeat: no-repeat
        background-position: center center
        position: relative
        height: 200px
        .caption
          display: none
          background: rgba(61, 61, 63, 0.8)
          color: $white
          position: absolute
          top: 0
          left: 0
          right: 0
          bottom: 0
          .caption-content
            h1
              padding-top: 2px
              padding-left: 15px
              text-align: left
            p
              padding-top: 2px
              padding-left: 15px
              text-align: left

// end of work

#contact
  background-color: #e67e22
  color: $white
  .container
    width: 100%
    margin: 0
    padding: 0
    height: 506px
    .col-md-6
      padding: 0
      min-height: 506px
      iframe
        min-height: 506px
        width: 100%
        border: 0
      h1
        margin: 20% 0px 20px
      h5
        font-size: 15px
        margin: 0
        font-size: 20px
        ul
          margin: 0
          li
            margin-bottom: 10px
            text-align: center
            .glyphicon
              font-size: 40px
              vertical-align: middle
              padding-right: 15px
            .media-icon
              padding-top: 13px
              height: 40px
              width: auto
              .row
                height: 50px
                margin: 0
                img
                  height: 50px
                  margin-left: auto
                  margin-right: auto
                  padding-left: 30px
    // end of col-md-6

footer
  height: 66px
  width: 100%
  background-color: #333333
  position: absolute
  .copyright
    padding-top: 25px
    p
      margin: 0
      color: $white

@media screen and (min-width: 1366px)
  #profile
    .container
      .col-md-8
        h3
          width: 800px

@media screen and (max-width: 1200px)
  #skill
    .container
      padding-bottom: 40px
      .row
        margin: 0
  #work
    .container
      .col-md-3
        width: 50%
        float: left

@media screen and (max-width: 992px)
  #profile
    .container
      .col-md-8
        h1
          font-size: 3em
        h3
          font-size: 20px
          width: 680px
    .profile-extends
      padding-bottom: 10px
      .row
        .col-md-4
          margin-bottom: 40px
          p
            margin-left: auto
            margin-right: auto
            width: 380px
  // end of profile
  #skill
    .container
      padding-bottom: 40px
      .row
        margin: 0px
        .col-md-6
          .col-md-3
          .col-md-9
            h2
              text-align: center
            p
              width: 500px
              margin-left: auto
              margin-right: auto
              text-align: center
    #skill-extend
      padding-bottom: 40px
  #contact
    .container
      width: 100%
      height: 572px
      .col-md-6
        padding: 0
        min-height: 286px
        iframe
          min-height: 286px
          width: 100%
          border: 0
        h1
          margin: 45px 0px 30px
        h5
          font-size: 15px
          margin: 0
          font-size: 20px
          ul
            margin: 0
            li
              margin-bottom: 10px
              text-align: center
              .glyphicon
                font-size: 40px
                vertical-align: middle
                padding-right: 15px
              .media-icon
                padding-top: 13px
                height: 40px
                width: auto
                .row
                  height: 50px
                  margin: 0
                  img
                    height: 50px
                    margin-left: auto
                    margin-right: auto
                    padding-left: 30px
      // end of col-md-6

@media screen and (max-width: 800px)
  #profile
    .container
      .col-md-8
        h3
          width: 100%

@media screen and (max-width: 620px)
  #profile
    .container
      .col-md-8
        h3
          text-align: center
          br
            display: none
  #skill
    .container
      .row
        .col-md-6
          .col-md-9
            h2
              text-align: center
            p
              width: 100%
  #work
    .container
      .col-md-3
        width: 100%
        float: left

@media screen and (max-width: 520px)
  #profile
    .container
      .col-md-8
        h1
          font-size: 33px
    .profile-extends
      .row
        .col-md-4
          p
            width: 100%

@media screen and (max-width: 481px)
  nav#work-navbar
    .nav-container
      .navbar-header
        .navbar-brand
          margin-left: 10px
      .navbar-collapse
        .navbar-right
          ul.nav
            li:last-child
              margin-bottom: 20px
  #profile
    .container
      .col-md-8
        h3
          text-align: center
    // end of container
    .profile-extends
      min-height: 506px
      text-align: center
      h1
        color: $gray
      .row
        .col-md-4
          p
            font-size: 16px
