@import "fonts"
@import "body"
@import "navbar"
@import "footer"
@import "modal"

@font-face
  font-family: 'ChristopherHand-Medium'
  src: url('/fonts/comesinhandy.ttf')

@font-face
  font-family: 'ChristopherHand-Small'
  src: url('/fonts/comesinhandy-small.ttf')

html, body
  height: auto !important

a:hover,
a:focus
  text-decoration: none
  color: transparent

#cover
  position: relative
  z-index: 1
  .cover-slider
    height: 100%
    padding: 0
    .cover-slider-wrapper
      .cover-slider-item
        width: 100%
        height: 100%

#ribbon
  z-index: 3
  position: relative
  background-color: $black
  .container-fluid
    max-width: 1440px
    height: auto
    .ribbon-item
      min-height: 190px
      margin-top: 15px
      margin-bottom: 15px
      .ribbon-info-container
        padding-top: 20px
        .ribbon-intro-container
          text-align: center
          min-height: 40px
          .ribbon-icon
            height: 40px
            display: inline-block
          .ribbon-title
            display: inline-block
            margin-left: 30px
            font-family: 'ChristopherHand-Small', sans-serif
            color: $white
            text-transform: uppercase
            font-size: 28px
            vertical-align: middle
            letter-spacing: 5px
        .ribbon-description
          line-height: 25px
          margin-top: 25px
          font-size: 16px
          max-width: 81%
          text-align: center
          margin-left: auto
          margin-right: auto
          color: $white
      &.ribbon1
        &:after
          display: block
          clear: both
          position: absolute
          content: ''
          border-right: 1px solid $white
          height: 100%
          top: 0
          right: 0
      &.ribbon2
        &:after
          display: block
          clear: both
          position: absolute
          content: ''
          border-right: 1px solid $white
          height: 100%
          top: 0
          right: 0
        .ribbon-info-container
          padding: 20px 0px
          .ribbon-icon
            height: 20px
    .swiper-pagination-bullet
      background: $white
    .ribbon-slider
      display: none

#product-category
  position: relative
  .category-item
    position: relative
    float: left
    width: 25%
    .category-link
      position: relative
      display: block
      &.loading
        background-color: #f7f7f7
        padding-bottom: 104.166% !important
      text-decoration: none
      .bg-overlay
        opacity: 0
        background-color: rgba(0,0,0,0.5)
        position: absolute
        width: 100%
        height: 100%
        top: 0
        left:  0
        transition: all 300ms ease-in-out
        -webkit-transition: all 300ms ease-in-out
        -moz-transition: all 300ms ease-in-out
        -ms-transition: all 300ms ease-in-out
        -o-transition: all 300ms ease-in-out
      .category-image
        display: block
        max-width: 100%
      .category-title
        display: block
        position: absolute
        bottom: 20px
        right: 0
        left: 0
        text-align: center
        font-size: 34px
        color: white
        font-family: 'ChristopherHand-Small', sans-serif
        text-transform: uppercase
        letter-spacing: 5px


#best-seller
  position: relative
  margin-bottom: 40px
  .banner-section
    position: relative
    color: #FFF
    background: $fashion21Red
    text-transform: uppercase
    display: inline-block
    padding: 25px 40px 25px 80px
    &:after
      content: " "
      position: absolute
      display: block
      width: 100%
      height: 100%
      top: 0
      left: 0
      z-index: -1
      background: $fashion21Red
      transform-origin: bottom left
      transform: skew(-20deg, 0deg)
      -webkit-transform: skew(-20deg, 0deg)
      -moz-transform: skew(-20deg, 0deg)
      -o-transform: skew(-20deg, 0deg)
      -ms-transform: skew(-20deg, 0deg)
    .banner-title
      font-family: 'Avenir-Bold', sans-serif
      color: #fff
      display: block
      font-size: 24px
  .best-seller-container
    margin-top: 30px
    margin-bottom: 30px
    .best-seller-item
      margin-bottom: 30px
      .best-seller-link
        display: block
        &:hover
          .image-container
            .best-seller-image
              -webkit-transform: scale(1.2)
              -moz-transform: scale(1.2)
              -ms-transform: scale(1.2)
              -o-transform: scale(1.2)
              transform: scale(1.2)
            .bg-overlay
              opacity: 1
        .image-container
          position: relative
          overflow: hidden
          .best-seller-image
            transition: all 300ms ease-in-out
            -webkit-transition: all 300ms ease-in-out
            -moz-transition: all 300ms ease-in-out
            -o-transition: all 300ms ease-in-out
            -ms-transition: all 300ms ease-in-out
          &.loading
            background-color: #f7f7f7
            padding-bottom: 100% !important
          .bg-overlay
            top: 0
            opacity: 0
            background-color: rgba(235,0,41,0.7)
            position: absolute
            height: 100%
            width: 100%
            z-index: 2
            transition: all 300ms ease-in-out
            -webkit-transition: all 300ms ease-in-out
            -moz-transition: all 300ms ease-in-out
            -o-transition: all 300ms ease-in-out
            -ms-transition: all 300ms ease-in-out
            .best-seller-overlay-text
              display: none
              color: #ffffff
              font-family: 'Avenir-Medium',sans-serif
              text-transform: uppercase
              font-size: 14px
              letter-spacing: 2px
              text-align: center
              transform: translateY(-50%)
              top: 50%
              position: relative
              z-index: 5
        .best-seller-title
          font-family: 'Avenir-medium', sans-serif
          display: block
          background-color: #494949
          color: white
          text-align: center
          padding-top: 15px
          padding-bottom: 15px
          font-size: 16px

#promo
  position: relative
  background-color: #000000
  .banner-section
    position: absolute
    top: -40px
    font-size: 20px
    color: #FFF
    background: $fashion21Red
    text-transform: uppercase
    display: inline-block
    padding: 20px 60px 20px 80px
    z-index: 2
    &:after
      content: " "
      position: absolute
      display: block
      width: 100%
      height: 100%
      top: 0
      left: 0
      z-index: -1
      background: $fashion21Red
      transform-origin: bottom left
      transform: skew(-20deg, 0deg)
      -webkit-transform: skew(-20deg, 0deg)
      -moz-transform: skew(-20deg, 0deg)
      -o-transform: skew(-20deg, 0deg)
      -ms-transform: skew(-20deg, 0deg)
    .banner-title
      font-family: 'Avenir-Bold', sans-serif
      color: #fff
      display: block
      font-size: 24px
      z-index: 3
  .promo-slider-container
    padding-top: 80px
    padding-bottom: 40px
    max-width: 1440px
    width: 100%
    #promo-slider
      height: 100%
      width: 100%
      .swiper-slide
        min-height: 228.14px

  .promo-button-container
    position: relative
    display: table
    margin-left: auto
    margin-right: auto
    margin-top: 40px
    .promo-button-link
      letter-spacing: 5px
      text-transform: uppercase
      text-decoration: none
      display: inline-block
      font-size: 14px
      padding: 20px 30px
      color: #ffffff
      background-color: $fashion21Red
      text-align: center
      transition: background-color 300ms ease-in-out
      -webkit-transition: background-color 300ms ease-in-out
      -moz-transition: background-color 300ms ease-in-out
      -o-transition: background-color 300ms ease-in-out
      -ms-transition: background-color 300ms ease-in-out
      &:hover
        background-color: #494949

  .swiper-button-container
    position: absolute
    height: 100%
    width: 1170px
    margin-left: auto
    margin-right: auto
    top: 0
    left: 0
    right: 0
    .swiper-button-prev
      outline: none
      left: -40px
      top: 44%
      background: url("/img/promo-slider/left-button.png")
      background-repeat: no-repeat
      width: 33px
      height: 35px

    .swiper-button-next
      background: url("/img/promo-slider/right-button.png")
      background-repeat: no-repeat
      outline: none
      right: -40px
      top: 44%
      width: 33px
      height: 35px

#video
  position: relative
  .content-container
    #video-bg
      background-image: url("https://res.cloudinary.com/f21cosmetics/image/upload/v1539835812/assets/banner/video-cover.jpg")
      background-position: center center
      background-repeat: no-repeat
      background-size: cover
      padding-bottom: 56.25%
      position: relative
      .video-button
        cursor: pointer
        left: 0
        right: 0
        height: 100px
        position: absolute
        top: 50%
        transform: translateY(-50%)
        -webkit-transform: translateY(-50%)
        -moz-transform: translateY(-50%)
        -o-transform: translateY(-50%)
        -ms-transform: translateY(-50%)
    #iframe-video
      display: none
      position: relative
      padding-bottom: 56.25%
      height: 0
      overflow: hidden
      max-width: 100%
      background-color: black
      iframe
        background-color: black
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
  .more-vlogs-container
    position: relative
    width: 100%
    background-color: #494949
    display: table
    text-align: center
    height: 90px
    .vlog-text
      color: white
      display: inline-block
      vertical-align: middle
      text-transform: uppercase
      font-size: 16px
      margin-right: 15px
      margin-bottom: 0
    .vlog-button
      margin: 18px auto
      letter-spacing: 5px
      text-transform: uppercase
      text-decoration: none
      display: inline-block
      font-size: 14px
      padding: 20px 30px
      color: #ffffff
      background-color: $fashion21Red
      text-align: center
      transition: background-color 300ms ease-in-out
      -webkit-transition: background-color 300ms ease-in-out
      -moz-transition: background-color 300ms ease-in-out
      -o-transition: background-color 300ms ease-in-out
      -ms-transition: background-color 300ms ease-in-out
      &:hover
        background-color: black


#shop
  position: relative
  background-image: -webkit-linear-gradient(135deg, #e3b9c6 57%, #ecc1c7 43%)
  height: 300px
  .container-fluid
    height: inherit
    max-width: 1440px
    .row
      height: inherit
      .left-container
        float: left
        position: relative
        height: inherit
        width: 40%
        .model-container
          position: absolute
          bottom: 0
          right: 0
          .model-image
            width: auto
            height: 280px
      .right-container
        position: relative
        height: inherit
        float: left
        width: 60%
        .shop-container
          position: relative
          text-align: center
          padding: 62px 0
          .shop-header-container
            position: relative
            .shop-cart
              display: inline-block
              height: 50px
            .shop-header
              display: inline-block
              vertical-align: middle
              font-family: "Avenir-Bold",sans-serif
              text-transform: uppercase
              font-size: 34px
              margin-left: 15px
          .shop-description-container
            padding-top: 10px
            .shop-description
              font-size: 18px
              font-family: "Avenir-medium",sans-serif
          .shop-link-container
            padding-top: 20px
            .shop-link
              background-color: #494949
              display: inline-block
              text-transform: uppercase
              padding: 10px 60px
              text-decoration: none
              transition: background-color 300ms ease-in-out
              -webkit-transition: background-color 300ms ease-in-out
              -moz-transition: background-color 300ms ease-in-out
              -o-transition: background-color 300ms ease-in-out
              -ms-transition: background-color 300ms ease-in-out
              &.shop-lazada
                margin-right: 15px
                &:hover
                  background-color: #003e52
              &.shop-shopee
                &:hover
                  background-color: #ff5620
              &:hover
                .cart-icon
                  filter: none
                  -webkit-filter: none
                  -moz-filter: none
                  -o-filter: none
              .cart-icon
                height: 35px
                filter: brightness(0) invert(1)
                -webkit-filter: brightness(0) invert(1)
                -moz-filter: brightness(0) invert(1)
                -o-filter: brightness(0) invert(1)
                transition: background-color 300ms ease-in-out
                -webkit-transition: all 300ms ease-in-out
                -moz-transition: all 300ms ease-in-out
                -o-transition: all 300ms ease-in-out
                -ms-transition: all 300ms ease-in-out

#instagram
  position: relative
  .banner-section
    position: relative
    color: #FFF
    background: $fashion21Red
    text-transform: uppercase
    display: inline-block
    padding: 25px 40px 25px 80px
    &:after
      content: " "
      position: absolute
      display: block
      width: 100%
      height: 100%
      top: 0
      left: 0
      z-index: -1
      background: $fashion21Red
      transform-origin: bottom left
      transform: skew(-20deg, 0deg)
      -webkit-transform: skew(-20deg, 0deg)
      -moz-transform: skew(-20deg, 0deg)
      -o-transform: skew(-20deg, 0deg)
      -ms-transform: skew(-20deg, 0deg)
    .banner-title
      font-family: 'Avenir-Bold', sans-serif
      color: #fff
      display: block
      font-size: 24px
  .instagram-slider-container
    min-height: 24vh
    width: 100%
    padding-left: 0
    padding-right: 0
    margin-bottom: 15px

@media (min-width: 1443px)
  #best-seller
    .best-seller-container
      width: 100%
      max-width: 1440px

@media (max-width: 1442px)

  #ribbon
    .container-fluid
      .ribbon-item
        .ribbon-info-container
          .ribbon-description
            max-width: 80%
            font-size: 14px

  #best-seller
    .best-seller-container
      max-width: 1050px

  #promo
    .promo-slider-container
      #promo-slider
        min-height: 0
        .swiper-slide
          min-height: 257.58px

  #shop
    height: 250px
    .container-fluid
      .row
        .left-container
          .model-container
            .model-image
              height: 230px
        .right-container
          .shop-container
            padding: 42px 0
            .shop-header-container
              padding-top: 0
              .shop-header
                font-size: 28px
            .shop-link-container
              .shop-link
                padding: 10px 60px
                .cart-icon
                  height: 30px

  #instagram
    .instagram-slider-container
      min-height: 23vh

@media (max-width: 1281px)
  #ribbon
    .container-fluid
      .ribbon-item
        &.ribbon2
          .ribbon-info-container
            .ribbon-intro-container
              .ribbon-icon
                height: 18px
        .ribbon-info-container
          .ribbon-title
            font-size: 24px
          .ribbon-description
            max-width: 91%
          .ribbon-intro-container
            .ribbon-icon
              height: 35px

  #product-category
    .category-item
      .category-link
        .category-title
          font-size: 24px

  #promo
    .promo-slider-container
      #promo-slider
        .swiper-slide
          min-height: 226.58px

@media (max-width: 1200px)
  #cover
    padding-top: 0

  #ribbon
    .container-fluid
      .ribbon-item
        min-height: 200px

  #promo
    .promo-slider-container
      #promo-slider
        .swiper-slide
          min-height: 272.94px
  #instagram
    .instagram-slider-container
      min-height: 26vh

@media (max-width: 991px)
  #best-seller
    .banner-section
      .banner-title
        font-size: 22px

  #ribbon
    .container-fluid
      .row
        margin-left: 0
        margin-right: 0
        .ribbon-item
          margin-top: 0
          margin-bottom: 0
          min-height: 0
          .ribbon-info-container
            padding: 25px
            .ribbon-intro-container
              .ribbon-icon
                display: block
                max-width: 100%
                margin-left: auto
                margin-right: auto
                margin-bottom: 15px
                height: 45px
              .ribbon-title
                margin-left: 0
            .ribbon-description
              max-width: 79%
          &.ribbon1
            &:after
              display: none
              border: none
          &.ribbon2
            &:before
              display: none
              border: none
            &:after
              display: none
              border: none
            .ribbon-info-container
              .ribbon-intro-container
                .ribbon-icon
                  height: 20px
      .ribbon-normal
        display: none
      .ribbon-slider
        display: block

  #product-category
    .category-item
      width: 50%


  #promo
    .banner-section
      .banner-title
        font-size: 28px
    .promo-slider-container
      max-width: 100%
      width: 80%
      #promo-slider
        .swiper-slide
          min-height: 322px
    .swiper-button-container
      display: none
      width: 100%
      .swiper-button-prev
        left: 5px
      .swiper-button-next
        right: 5px

  #shop
    height: 250px
    .container-fluid
      .row
        .left-container
          .model-container
            left: 0
            right: auto
        .right-container
          .shop-container
            .shop-header-container
              padding-top: 0
              .shop-header
                font-size: 28px
              .shop-cart
                height: 50px
            .shop-description-container
              .shop-description
                font-size: 16px
            .shop-link-container
              .shop-link
                padding: 10px 50px
                &.shop-lazada
                  margin-right: auto
                  margin-bottom: 15px

  #instagram
    .banner-section
      .banner-title
        font-size: 22px
    .instagram-slider-container
      min-height: 18vh

@media (max-width: 767px)
  #cover
    .cover-slider
      .cover-slider-wrapper
        .cover-slider-item
          .slider-image
            object-fit: cover
            object-position: center
            width: 100%
            height: 100%

  #ribbon
    .container-fluid
      .row
        .ribbon-item
          .ribbon-info-container
            .ribbon-description
              max-width: 100%
              min-width: 0

  #product-category
    padding: 0
    .category-item
      padding: 0
      width: 100%
      .category-link
        &.loading
          padding-bottom: 33.3% !important
        .category-image
          &.image-1,&.image-2,&.image-3
            padding-bottom: 5px
        .category-title
          font-size: 18px
          &.title-1,&.title-3
            font-size: 5rem
            right: 60px
            left: auto
            top: 50%
            transform: translateY(-50%)
            -webkit-transform: translateY(-50%)
            -moz-transform: translateY(-50%)
            -o-transform: translateY(-50%)
            -ms-transform: translateY(-50%)
            bottom: auto
          &.title-2,&.title-4
            font-size: 5rem
            left: 60px
            right: auto
            top: 50%
            bottom: auto
            transform: translateY(-50%)
            -webkit-transform: translateY(-50%)
            -moz-transform: translateY(-50%)
            -o-transform: translateY(-50%)
            -ms-transform: translateY(-50%)


  #best-seller
    .best-seller-container
      .best-seller-item
        width: 50%
        float: left
        .best-seller-link
          .best-seller-title
            font-size: 14px

  #promo
    .promo-slider-container
      #promo-slider
        .swiper-slide
          min-height: 40vw

  #video
    .more-vlogs-container
      height: 0
      .vlog-button
        font-size: 14px
        padding: 10px 40px
      .vlog-text
        font-size: 14px

  #shop
    height: auto
    .container-fluid
      .row
        .right-container
          width: 100%
          .shop-container
            padding: 30px 0
            .shop-header-container
              padding-top: 0
            .shop-link-container
              .shop-link
                .cart-icon
                  height: 25px

@media (max-width: 568px)
  #video
    .more-vlogs-container
      padding-top: 20px
      padding-bottom: 20px
      .vlog-text
        display: block
      .vlog-button
        display: inline-block
        margin-bottom: 0


//Iphone 6 7 8 plus
@media (max-width: 480px)
  #sticky-social
    top: 50%

  #ribbon
    .container-fluid
      .row
        .ribbon-item
          .ribbon-info-container
            .ribbon-intro-container
              .ribbon-icon
                height: 35px
            .ribbon-description
              margin-top: 15px
          &.ribbon2
            .ribbon-info-container
              .ribbon-intro-container
                .ribbon-icon
                  height: 18px

  #best-seller
    margin-bottom: 0
    .banner-section
      padding: 15px 30px
      .banner-title
        font-size: 16px
    .best-seller-container
      margin-top: 0
      margin-bottom: 0
      padding-left: 0
      padding-right: 0
      .best-seller-item
        width: 50%
        padding: 0
        margin-bottom: 0
        .best-seller-link
          .image-container
            .bg-overlay
              .best-seller-overlay-text
                display: block
                font-size: 12px
          .best-seller-title
            display: none

  #product-category
    .category-item
      .category-link
        .category-title
          &.title-1,&.title-3
            font-size: 4rem
            right: 30px
          &.title-2,&.title-4
            font-size: 4rem
            left: 30px


  #promo
    .banner-section
      padding: 15px 30px
      top: -25px
      .banner-title
        font-size: 16px
    .promo-slider-container
      padding-top: 60px
      width: 100%
      .promo-button-link
        font-size: 10px
        padding: 15px 20px


  #video
    .more-vlogs-container
      .vlog-button
        font-size: 10px
        padding: 15px 20px

  #shop
    .container-fluid
      .row
        margin-left: 0
        margin-right: 0
        .right-container
          .shop-container
            .shop-link-container
              padding-top: 15px
              .shop-link
                font-size: 14px
                padding: 15px 30px
                display: inline-block
                max-width: 90%
                margin-left: auto
                margin-right: auto
                &.shop-lazada
                  margin-bottom: 0

  #instagram
    .banner-section
      padding: 15px 30px
      .banner-title
        font-size: 16px
    .instagram-slider-container
      margin-bottom: 0

@media (max-width: 420px)
  #product-category
    .category-item
      .category-link
        .category-title
          &.title-1,&.title-3
            font-size: 3.5rem
            right: 20px
          &.title-2,&.title-4
            font-size: 3.5rem
            left: 20px
  #shop
    .container-fluid
      .row
        .right-container
          .shop-container
            .shop-header-container
              .shop-cart
                display: none
              .shop-header
                margin-left: 0
            .shop-description-container
              padding-top: 15px

  #video
    .content-container
      #video-bg
        .video-button
          height: 65px
    .more-vlogs-container
      height: auto
      .vlog-text
        display: block
        margin-right: 0
        padding-left: 20px
        padding-right: 20px
      .vlog-button
        display: inline-block
        padding: 10px 45px

//Iphone X
@media (max-width: 380px)
  #sticky-social
    top: 30%

  #promo
    .promo-slider-container
      #promo-slider
        .swiper-slide
          min-height: 130px

@media (max-width: 320px)
  #product-category
    .category-item
      .category-link
        .category-title
          &.title-1,&.title-3
            font-size: 3rem
            right: 10px
          &.title-2,&.title-4
            font-size: 3rem
            left: 10px









