@import "fonts"
@import "body"
@import "navbar"
@import "footer"
@import "modal"

@font-face
  font-family: 'ChristopherHand-Medium'
  src: url('/fonts/comesinhandy.ttf')

@font-face
  font-family: 'ChristopherHand-Small'
  src: url('/fonts/comesinhandy-small.ttf')

html, body
  height: auto !important

a:hover,
a:focus
  text-decoration: none
  color: transparent

#cover
  position: relative
  padding-top: 86px
  height: 700px
  z-index: 1
  #cover-slider
    height: 100%
    padding: 0
    .cover-slider-wrapper
      .cover-slider-item
        width: 100%
        height: 100%
        background-position: center center
        background-size: cover
        background-repeat: no-repeat
        .product-wrapper
          height: inherit
          width: 1600px
          margin-left: auto
          margin-right: auto
          .left-container
            padding-left: 15px
            padding-right: 15px
            position: relative
            width: 50%
            float: left
            height: inherit
            right: -4.5vh
            .product-image-container
              position: relative
              top: 50%
              transform: translateY(-50%)
              -webkit-transform: translateY(-50%)
              -moz-transform: translateY(-50%)
              -o-transform: translateY(-50%)
              -ms-transform: translateY(-50%)
              .product-image
                display: block
                &.horizontal-image
                  max-width: 70%
                &.vertical-image
                  max-width: 55%
            .product-info-wrapper
              position: relative
              top: 50%
              transform: translateY(-50%)
              -webkit-transform: translateY(-50%)
              -moz-transform: translateY(-50%)
              -o-transform: translateY(-50%)
              -ms-transform: translateY(-50%)
              .product-intro-container
                text-align: center
                .product-title
                  display: block
                  font-family: "Montserrat", sans-serif
                  font-weight: 600
                  font-size: 44px
                  text-transform: uppercase
                  text-align: center
                  letter-spacing: 2px
                  line-height: 60px
                .product-description
                  margin-top: 15px
                  margin-left: auto
                  margin-right: auto
                  max-width: 80%
                  min-width: 80%
                  font-size: 18px
                  line-height: 30px
                  font-family: "Avenir-medium", sans-serif
              .product-link-container
                margin-top: 50px
                text-align: center
                .product-link
                  text-transform: uppercase
                  text-decoration: none
                  display: inline-block
                  font-size: 14px
                  padding: 20px 40px
                  letter-spacing: 5px
                  color: $white
                  background-color: $black
                  transition: background-color 300ms ease-in-out
                  -webkit-transition: background-color 300ms ease-in-out
                  -moz-transition: background-color 300ms ease-in-out
                  -o-transition: background-color 300ms ease-in-out
                  -ms-transition: background-color 300ms ease-in-out
                  &:hover
                    background-color: $fashion21Red
          .right-container
            padding-left: 15px
            padding-right: 15px
            position: relative
            width: 50%
            float: left
            height: inherit
            left: -4.5vh
            .product-image-container
              position: relative
              top: 50%
              transform: translateY(-50%)
              -webkit-transform: translateY(-50%)
              -moz-transform: translateY(-50%)
              -o-transform: translateY(-50%)
              -ms-transform: translateY(-50%)
              .product-image
                display: block
                &.horizontal-image
                  max-width: 70%
                &.vertical-image
                  max-width: 55%
            .product-info-wrapper
              position: relative
              top: 50%
              transform: translateY(-50%)
              -webkit-transform: translateY(-50%)
              -moz-transform: translateY(-50%)
              -o-transform: translateY(-50%)
              -ms-transform: translateY(-50%)
              .product-intro-container
                text-align: center
                .product-title
                  display: block
                  font-family: "Montserrat", sans-serif
                  font-weight: 600
                  font-size: 44px
                  text-transform: uppercase
                  text-align: center
                  letter-spacing: 2px
                  line-height: 60px
                .product-description
                  margin-top: 15px
                  margin-left: auto
                  margin-right: auto
                  max-width: 80%
                  min-width: 80%
                  font-size: 18px
                  line-height: 30px
                  font-family: "Avenir-medium", sans-serif
              .product-link-container
                margin-top: 50px
                text-align: center
                .product-link
                  text-transform: uppercase
                  text-decoration: none
                  display: inline-block
                  font-size: 14px
                  padding: 20px 40px
                  letter-spacing: 5px
                  color: $white
                  background-color: $black
                  transition: background-color 300ms ease-in-out
                  -webkit-transition: background-color 300ms ease-in-out
                  -moz-transition: background-color 300ms ease-in-out
                  -o-transition: background-color 300ms ease-in-out
                  -ms-transition: background-color 300ms ease-in-out
                  &:hover
                    background-color: $fashion21Red
        &.template2
          .product-wrapper
            .left-container
              width: 60%
              .product-image-container
                position: absolute
                bottom: 0
                top: auto
                transform: none
                -webkit-transform: none
                -moz-transform: none
                -o-transform: none
                -ms-transform: none
                .product-image
                  max-width: 100%
            .right-container
              width: 40%
        &.template4
          .product-wrapper
            .right-container
              left: 3.5vh
        &.template5
          .product-wrapper
            .left-container
              right: 0
              padding-left: 0
              width: 63%
              .product-image-container
                top: auto
                transform: none
                -webkit-transform: none
                -moz-transform: none
                -o-transform: none
                -ms-transform: none
                .product-image
                  max-width: 100%
            .right-container
              width: 37%
              .product-info-wrapper
                .product-intro-container
                  .product-logo
                    margin-top: 30px
                    display: block
                    margin-left: auto
                    margin-right: auto
                    max-width: 55%
                .product-link-container
                  margin-top: 30px

#ribbon
  z-index: 2
  position: relative
  background-color: $black
  .container-fluid
    max-width: 1440px
    height: auto
    .ribbon-item
      margin-top: 15px
      margin-bottom: 15px
      .ribbon-info-container
        padding-top: 20px
        .ribbon-intro-container
          text-align: center
          min-height: 40px
          .ribbon-icon
            height: 40px
            display: inline-block
          .ribbon-title
            display: inline-block
            margin-left: 30px
            font-family: 'ChristopherHand-Small', sans-serif
            color: $white
            text-transform: uppercase
            font-size: 28px
            vertical-align: middle
            letter-spacing: 5px
        .ribbon-description
          line-height: 25px
          margin-top: 25px
          font-size: 16px
          max-width: 81%
          text-align: center
          margin-left: auto
          margin-right: auto
          color: $white

      &.ribbon2
        &:before
          display: block
          position: absolute
          content: ''
          clear: both
          border-left: 1px solid $white
          height: 100%
          top: 0
          left: 0
        &:after
          display: block
          clear: both
          position: absolute
          content: ''
          border-right: 1px solid $white
          height: 100%
          top: 0
          right: 0
        .ribbon-info-container
          padding: 20px 0px
          .ribbon-icon
            height: 20px
    .swiper-pagination-bullet
      background: $white
    .ribbon-slider
      display: none

#product-category
  position: relative
  .category-item
    position: relative
    float: left
    width: 25%
    .category-link
      position: relative
      display: block
      &.loading
        background-color: #f7f7f7
        padding-bottom: 104.166% !important
      text-decoration: none
      .bg-overlay
        opacity: 0
        background-color: rgba(0,0,0,0.5)
        position: absolute
        width: 100%
        height: 100%
        top: 0
        left:  0
        transition: all 300ms ease-in-out
        -webkit-transition: all 300ms ease-in-out
        -moz-transition: all 300ms ease-in-out
        -ms-transition: all 300ms ease-in-out
        -o-transition: all 300ms ease-in-out
      .category-image
        display: block
        max-width: 100%
      .category-title
        display: block
        position: absolute
        bottom: 20px
        right: 0
        left: 0
        text-align: center
        font-size: 34px
        color: white
        font-family: 'ChristopherHand-Small', sans-serif
        text-transform: uppercase
        letter-spacing: 5px


#best-seller
  position: relative
  margin-bottom: 40px
  .banner-section
    position: relative
    color: #FFF
    background: $fashion21Red
    text-transform: uppercase
    display: inline-block
    padding: 25px 40px 25px 80px
    &:after
      content: " "
      position: absolute
      display: block
      width: 100%
      height: 100%
      top: 0
      left: 0
      z-index: -1
      background: $fashion21Red
      transform-origin: bottom left
      transform: skew(-20deg, 0deg)
      -webkit-transform: skew(-20deg, 0deg)
      -moz-transform: skew(-20deg, 0deg)
      -o-transform: skew(-20deg, 0deg)
      -ms-transform: skew(-20deg, 0deg)
    .banner-title
      font-family: 'Avenir-Bold', sans-serif
      color: #fff
      display: block
      font-size: 24px
  .best-seller-container
    margin-top: 30px
    margin-bottom: 30px
    .best-seller-item
      margin-bottom: 30px
      .best-seller-link
        display: block
        &:hover
          .image-container
            .best-seller-image
              -webkit-transform: scale(1.2)
              -moz-transform: scale(1.2)
              -ms-transform: scale(1.2)
              -o-transform: scale(1.2)
              transform: scale(1.2)
            .bg-overlay
              opacity: 1
        .image-container
          position: relative
          overflow: hidden
          .best-seller-image
            transition: all 300ms ease-in-out
            -webkit-transition: all 300ms ease-in-out
            -moz-transition: all 300ms ease-in-out
            -o-transition: all 300ms ease-in-out
            -ms-transition: all 300ms ease-in-out
          &.loading
            background-color: #f7f7f7
            padding-bottom: 100% !important
          .bg-overlay
            top: 0
            opacity: 0
            background-color: rgba(235,0,41,0.7)
            position: absolute
            height: 100%
            width: 100%
            z-index: 2
            transition: all 300ms ease-in-out
            -webkit-transition: all 300ms ease-in-out
            -moz-transition: all 300ms ease-in-out
            -o-transition: all 300ms ease-in-out
            -ms-transition: all 300ms ease-in-out
            .best-seller-overlay-text
              display: none
              color: #ffffff
              font-family: 'Avenir-Medium',sans-serif
              text-transform: uppercase
              font-size: 14px
              letter-spacing: 2px
              text-align: center
              transform: translateY(-50%)
              top: 50%
              position: relative
              z-index: 5
        .best-seller-title
          font-family: 'Avenir-medium', sans-serif
          display: block
          background-color: #494949
          color: white
          text-align: center
          padding-top: 15px
          padding-bottom: 15px
          font-size: 16px

#promo
  position: relative
  background-color: #000000
  .banner-section
    position: absolute
    top: -40px
    font-size: 20px
    color: #FFF
    background: $fashion21Red
    text-transform: uppercase
    display: inline-block
    padding: 20px 60px 20px 80px
    z-index: 2
    &:after
      content: " "
      position: absolute
      display: block
      width: 100%
      height: 100%
      top: 0
      left: 0
      z-index: -1
      background: $fashion21Red
      transform-origin: bottom left
      transform: skew(-20deg, 0deg)
      -webkit-transform: skew(-20deg, 0deg)
      -moz-transform: skew(-20deg, 0deg)
      -o-transform: skew(-20deg, 0deg)
      -ms-transform: skew(-20deg, 0deg)
    .banner-title
      font-family: 'Avenir-Bold', sans-serif
      color: #fff
      display: block
      font-size: 24px
      z-index: 3
  .promo-slider-container
    padding-top: 80px
    padding-bottom: 40px
    max-width: 1440px
    width: 100%
    #promo-slider
      height: 100%
      width: 100%
      .swiper-slide
        min-height: 228.14px

  .promo-button-container
    position: relative
    display: table
    margin-left: auto
    margin-right: auto
    margin-top: 40px
    .promo-button-link
      letter-spacing: 5px
      background-color: #494949
      color: $white
      text-decoration: none
      font-size: 16px
      text-transform: uppercase
      display: inline-block
      padding: 15px 60px
      transition: all 300ms ease-in-out
      -webkit-transition: all 300ms ease-in-out
      -moz-transition: all 300ms ease-in-out
      -o-transition: all 300ms ease-in-out
      -ms-transition: all 300ms ease-in-out
      &:hover
        background-color: #eb0029

  .swiper-button-container
    position: absolute
    height: 100%
    width: 1170px
    margin-left: auto
    margin-right: auto
    top: 0
    left: 0
    right: 0
    .swiper-button-prev
      outline: none
      left: -40px
      top: 44%
      background: url("/img/promo-slider/left-button.png")
      background-repeat: no-repeat
      width: 33px
      height: 35px

    .swiper-button-next
      background: url("/img/promo-slider/right-button.png")
      background-repeat: no-repeat
      outline: none
      right: -40px
      top: 44%
      width: 33px
      height: 35px

#video
  position: relative
  .content-container
    height: 80vh
    position: relative
    #video-bg
      background-image: url("https://res.cloudinary.com/f21cosmetics/image/upload/v1536285059/assets/banner/video-cover.png")
      background-position: center center
      background-repeat: no-repeat
      background-size: cover
      height: inherit
      .video-overlay
        position: absolute
        background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7))
        height: 100%
        width: 100%
        z-index: 1
      .video-content-container
        width: 100%
        position: absolute
        top: 50%
        transform: translateY(-50%)
        -webkit-transform: translateY(-50%)
        -moz-transform: translateY(-50%)
        -o-transform: translateY(-50%)
        -ms-transform: translateY(-50%)
        z-index: 5
        .video-button
          cursor: pointer
          left: 0
          right: 0
          height: 100px
        .caption
          .caption-text
            color: white
            letter-spacing: 2px
            text-align: center
    #iframe-video
      background-color: black
      height: inherit
      display: none
      iframe
        height: inherit
  .more-vlogs-container
    position: relative
    width: 100%
    background-color: #494949
    display: table
    text-align: center
    height: 90px
    .vlog-text
      color: white
      display: inline-block
      vertical-align: middle
      text-transform: uppercase
      font-size: 16px
      margin-right: 15px
      margin-bottom: 0
    .vlog-button
      letter-spacing: 5px
      text-decoration: none
      margin: 18px auto
      vertical-align: middle
      display: inline-block
      padding: 15px 60px
      color: #fff
      background-color: $fashion21Red
      font-size: 18px
      text-align: center
      transition: background-color 300ms ease-in-out
      -webkit-transition: background-color 300ms ease-in-out
      -moz-transition: background-color 300ms ease-in-out
      -o-transition: background-color 300ms ease-in-out
      -ms-transition: background-color 300ms ease-in-out
      &:hover
        background-color: black


#shop
  position: relative
  background-image: -webkit-linear-gradient(135deg, #e3b9c6 57%, #ecc1c7 43%)
  height: 300px
  .container-fluid
    height: inherit
    max-width: 1440px
    .row
      height: inherit
      .left-container
        float: left
        position: relative
        height: inherit
        width: 40%
        .model-container
          position: absolute
          bottom: 0
          right: 0
          .model-image
            width: auto
            height: 280px
      .right-container
        position: relative
        height: inherit
        float: left
        width: 60%
        .shop-container
          position: relative
          text-align: center
          padding: 62px 0
          .shop-header-container
            position: relative
            .shop-cart
              display: inline-block
              height: 50px
            .shop-header
              display: inline-block
              vertical-align: middle
              font-family: "Avenir-Bold",sans-serif
              text-transform: uppercase
              font-size: 34px
              margin-left: 15px
          .shop-description-container
            padding-top: 10px
            .shop-description
              font-size: 18px
              font-family: "Avenir-medium",sans-serif
          .shop-link-container
            padding-top: 20px
            .shop-link
              background-color: #494949
              display: inline-block
              text-transform: uppercase
              padding: 10px 60px
              text-decoration: none
              transition: background-color 300ms ease-in-out
              -webkit-transition: background-color 300ms ease-in-out
              -moz-transition: background-color 300ms ease-in-out
              -o-transition: background-color 300ms ease-in-out
              -ms-transition: background-color 300ms ease-in-out
              &.shop-lazada
                margin-right: 15px
                &:hover
                  background-color: #003e52
              &.shop-shopee
                &:hover
                  background-color: #ff5620
              &:hover
                .cart-icon
                  filter: none
                  -webkit-filter: none
                  -moz-filter: none
                  -o-filter: none
              .cart-icon
                height: 35px
                filter: brightness(0) invert(1)
                -webkit-filter: brightness(0) invert(1)
                -moz-filter: brightness(0) invert(1)
                -o-filter: brightness(0) invert(1)
                transition: background-color 300ms ease-in-out
                -webkit-transition: all 300ms ease-in-out
                -moz-transition: all 300ms ease-in-out
                -o-transition: all 300ms ease-in-out
                -ms-transition: all 300ms ease-in-out

#instagram
  position: relative
  .banner-section
    position: relative
    color: #FFF
    background: $fashion21Red
    text-transform: uppercase
    display: inline-block
    padding: 25px 40px 25px 80px
    &:after
      content: " "
      position: absolute
      display: block
      width: 100%
      height: 100%
      top: 0
      left: 0
      z-index: -1
      background: $fashion21Red
      transform-origin: bottom left
      transform: skew(-20deg, 0deg)
      -webkit-transform: skew(-20deg, 0deg)
      -moz-transform: skew(-20deg, 0deg)
      -o-transform: skew(-20deg, 0deg)
      -ms-transform: skew(-20deg, 0deg)
    .banner-title
      font-family: 'Avenir-Bold', sans-serif
      color: #fff
      display: block
      font-size: 24px
  .instagram-slider-container
    min-height: 24vh
    width: 100%
    padding-left: 0
    padding-right: 0
    margin-bottom: 15px

@media (min-width: 1443px)
  #best-seller
    .best-seller-container
      width: 100%
      max-width: 1440px

@media (max-width: 1442px)
  #cover
    #cover-slider
      .cover-slider-wrapper
        .cover-slider-item
          .product-wrapper
            width: 100%
            .right-container
              .product-info-wrapper
                .product-intro-container
                  .product-title
                    font-size: 38px
                    line-height: normal
                  .product-description
                    max-width: 87%
  #ribbon
    .container-fluid
      .ribbon-item
        .ribbon-info-container
          .ribbon-description
            max-width: 80%
            font-size: 14px

  #best-seller
    .best-seller-container
      max-width: 1050px
  #promo
    .promo-slider-container
      #promo-slider
        min-height: 0
        .swiper-slide
          min-height: 257.58px
    .promo-button-container
      .promo-button-link
        font-size: 16px

  #shop
    height: 250px
    .container-fluid
      .row
        .left-container
          .model-container
            .model-image
              height: 230px
        .right-container
          .shop-container
            padding: 42px 0
            .shop-header-container
              padding-top: 0
              .shop-header
                font-size: 28px
            .shop-link-container
              .shop-link
                padding: 10px 60px
                .cart-icon
                  height: 30px

  #instagram
    .instagram-slider-container
      min-height: 23vh


@media (max-width: 1370px)
  #cover
    height: 500px
    #cover-slider
      .cover-slider-wrapper
        .cover-slider-item
          .product-wrapper
            .left-container
              right: -6vh
              .product-info-wrapper
                .product-intro-container
                  .product-title
                    font-size: 28px
                  .product-description
                    font-size: 16px
                    max-width: 82%
                .product-link-container
                  .product-link
                    font-size: 12px
                    padding: 20px 30px
            .right-container
              left: -6vh
              .product-info-wrapper
                .product-intro-container
                  .product-title
                    font-size: 28px
                  .product-description
                    font-size: 16px
                    max-width: 82%
                .product-link-container
                  .product-link
                    font-size: 12px
                    padding: 20px 30px
        .cover-slider-item.template2
            .product-wrapper
              .left-container
                width: 55%
                .product-image-container
                  .product-image
                    max-width: 80%
              .right-container
                width: 45%
        .cover-slider-item.template3
          .product-wrapper
            .left-container
              right: -10vh
              .product-info-wrapper
                .product-intro-container
                  .product-title
                    font-size: 28px
                  .product-description
                    max-width: 66%
            .right-container
              left: -10vh
              .product-image-container
                .product-image
                  &.horizontal-image
                    max-width: 55%
        .cover-slider-item.template4
          .product-wrapper
            .left-container
              right: -10vh
            .right-container
              left: -10vh
              .product-image-container
                .product-image
                  &.horizontal-image
                    max-width: 55%

@media (max-width: 1281px)
  #ribbon
    .container-fluid
      .ribbon-item
        &.ribbon2
          .ribbon-info-container
            .ribbon-intro-container
              .ribbon-icon
                height: 18px
        .ribbon-info-container
          .ribbon-title
            font-size: 24px
          .ribbon-description
            max-width: 91%
          .ribbon-intro-container
            .ribbon-icon
              height: 35px

  #product-category
    .category-item
      .category-link
        .category-title
          font-size: 24px

  #promo
    .promo-slider-container
      #promo-slider
        .swiper-slide
          min-height: 226.58px

@media (max-width: 1200px)
  #cover
    height: 350px
    padding-top: 0
    #cover-slider
      .cover-slider-wrapper
        .cover-slider-item
          .product-wrapper
            .left-container
              right: -3vh
              .product-info-wrapper
                .product-link-container
                  margin-top: 30px
                  .product-link
                    font-size: 10px
            .right-container
              left: -3vh
              .product-info-wrapper
                .product-intro-container
                  .product-title
                    font-size: 24px
                  .product-description
                    max-width: 100%
                .product-link-container
                  margin-top: 30px
                  .product-link
                    font-size: 10px
        .cover-slider-item.template2
          .product-wrapper
            .left-container
              .product-image-container
                .product-image
                  max-width: 85%
        .cover-slider-item.template3
          .product-wrapper
            .left-container
              right: -7vh
              .product-info-wrapper
                .product-intro-container
                  .product-description
                    max-width: 90%
            .right-container
              left: -7vh
        .cover-slider-item.template4
          .product-wrapper
            .left-container
              right: -7vh
            .right-container
              left: -7vh

  #promo
    .promo-slider-container
      #promo-slider
        .swiper-slide
          min-height: 272.94px
  #instagram
    .instagram-slider-container
      min-height: 26vh

@media (max-width: 991px)
  #cover
    padding-top: 0
    height: 550px
    #cover-slider
      .cover-slider-wrapper
        .cover-slider-item
          .product-wrapper
            .left-container
              width: 100%
              height: auto
              right: 0 !important
              .product-image-container
                transform: none
                -webkit-transform: none
                -moz-transform: none
                -o-transform: none
                -ms-transform: none
                margin-top: 50px
                margin-bottom: 15px
                .product-image
                  &.horizontal-image
                    max-width: 60%
                    min-width: 0
                  &.vertical-image
                    max-width: 40%
                    height: auto
            .right-container
              left: 0 !important
              width: 100%
              height: auto
              .product-info-wrapper
                transform: none
                -webkit-transform: none
                -moz-transform: none
                -o-transform: none
                -ms-transform: none
                .product-intro-container
                  margin-top: 0
                  .product-title
                    line-height: normal
                  .product-description
                    font-size: 16px
                    margin-top: 15px
                    max-width: 75%
                    min-width: 0
              .product-link-container
                margin-top: 45px
        .cover-slider-item.template2
          .product-wrapper
            .left-container
              width: 100%
              .product-image-container
                position: relative
                margin-bottom: 0
                .product-image
                  max-width: 50%
            .right-container
              width: 100%
              height: 100%
              background-color: #8c5b46
              .product-info-wrapper
                top: auto
                transform: none
                -webkit-transform: none
                -moz-transform: none
                -o-transform: none
                -ms-transform: none
                .product-intro-container
                  margin-top: 15px
                  .product-title
                    color: $white
                  .product-description
                    color: $white
                    max-width: 67%
        .cover-slider-item.template3
          .product-wrapper
            .left-container
              width: 100%
              .product-image-container
                .product-image
                  max-width: 50%
            .right-container
                width: 100%
        .cover-slider-item.template4
          .product-wrapper
            .left-container
              transform: none
              -webkit-transform: none
              -moz-transform: none
              -o-transform: none
              -ms-transform: none
              .product-image-container
                .product-image
                  max-width: 40%
            .right-container
              left: 0
        .cover-slider-item.template5
          .product-wrapper
            .left-container
              width: 100%
              .product-image-container
                margin-top: 0
                margin-bottom: 20px
                .product-image
                  max-width: 100%
            .right-container
              width: 100%
              .product-info-wrapper
                .product-intro-container
                  .product-logo
                    margin-top: 0
                    max-width: 20%
                  .product-title
                    font-size: 24px
                    margin-top: 0
                .product-link-container
                  margin-top: 15px

  #best-seller
    .banner-section
      .banner-title
        font-size: 22px

  #ribbon
    .container-fluid
      .row
        margin-left: 0
        margin-right: 0
        .ribbon-item
          margin-top: 0
          margin-bottom: 0
          min-height: 0
          .ribbon-info-container
            padding: 25px
            .ribbon-intro-container
              .ribbon-icon
                display: block
                max-width: 100%
                margin-left: auto
                margin-right: auto
                margin-bottom: 15px
                height: 45px
              .ribbon-title
                margin-left: 0
            .ribbon-description
              max-width: 79%
          &.ribbon2
            &:before
              border: none
            &:after
              border: none
            .ribbon-info-container
              .ribbon-intro-container
                .ribbon-icon
                  height: 20px
      .ribbon-normal
        display: none
      .ribbon-slider
        display: block

  #product-category
    .category-item
      width: 50%


  #promo
    .banner-section
      .banner-title
        font-size: 28px
    .promo-slider-container
      max-width: 100%
      width: 80%
      #promo-slider
        .swiper-slide
          min-height: 322px
    .swiper-button-container
      display: none
      width: 100%
      .swiper-button-prev
        left: 5px
      .swiper-button-next
        right: 5px

  #video
    .content-container
      height: 432px

  #shop
    height: 250px
    .container-fluid
      .row
        .left-container
          .model-container
            height: 220px
            left: 0
            right: auto
        .right-container
          .shop-container
            .shop-header-container
              padding-top: 0
              .shop-header
                font-size: 28px
              .shop-cart
                height: 50px
            .shop-description-container
              .shop-description
                font-size: 16px
            .shop-link-container
              .shop-link
                padding: 10px 50px
                &.shop-lazada
                  margin-right: auto
                  margin-bottom: 15px


  #instagram
    .banner-section
      .banner-title
        font-size: 22px
    .instagram-slider-container
      min-height: 18vh

@media (max-width: 850px) and (orientation: landscape)
  #cover
    height: 800px
    #cover-slider
      .cover-slider-wrapper
        .cover-slider-item
          .product-wrapper
            .left-container
              .product-image-container
                .product-image
                  &.horizontal-image
                    max-width: 60%
                  &.vertical-image
                    max-width: 45%

            .right-container
              .product-info-wrapper
                .product-intro-container
                  margin-top: 0
                  .product-title
                    font-size: 38px
                  .product-description
                    max-width: 73%
                    margin-top: 15px

@media (max-width: 750px) and (orientation: landscape)
  #cover
    height: 700px

@media (max-width: 767px)
  #cover
    height: 480px
    #cover-slider
      .cover-slider-wrapper
        .cover-slider-item
          .product-wrapper
            .left-container
              .product-image-container
                margin-top: 30px
                //.product-image
            .right-container
              .product-info-wrapper
                .product-intro-container
                  margin-top: 0
                .product-link-container
                  margin-bottom: 30px

        .cover-slider-item.template4
          .product-wrapper
            .left-container
              .product-image-container
                margin-top: 20px


  #ribbon
    .container-fluid
      .row
        .ribbon-item
          .ribbon-info-container
            .ribbon-description
              max-width: 100%
              min-width: 0

  #best-seller
    .best-seller-container
      .best-seller-item
        width: 50%
        float: left
        .best-seller-link
          .best-seller-title
            font-size: 14px

  #promo
    .promo-slider-container
      #promo-slider
        .swiper-slide
          min-height: 40vw

  #video
    .more-vlogs-container
      height: 0
      .vlog-button
        font-size: 14px
        padding: 10px 40px
      .vlog-text
        font-size: 14px


  #shop
    height: auto
    .container-fluid
      .row
        .right-container
          width: 100%
          .shop-container
            padding: 30px 0
            .shop-header-container
              padding-top: 0
            .shop-link-container
              .shop-link
                .cart-icon
                  height: 25px

@media (max-width: 568px)
  #video
    .more-vlogs-container
      padding-top: 20px
      padding-bottom: 20px
      .vlog-text
        display: block
      .vlog-button
        display: inline-block
        margin-bottom: 0


//Iphone 6 7 8 plus
@media (max-width: 480px)
  #sticky-social
    top: 50%
  #cover
    height: 400px
    #cover-slider
      .cover-slider-wrapper
        .cover-slider-item
          .product-wrapper
            .left-container
              .product-image-container
                .product-image
                  margin-bottom: 15px
                  &.horizontal-image
                    max-width: 80%
                  &.vertical-image
                    max-width: 56%
            .right-container
              .product-info-wrapper
                .product-intro-container
                  margin-top: 0
                  .product-title
                    max-width: 100%
                    margin-left: auto
                    margin-right: auto
                    font-size: 18px
                  .product-description
                    font-size: 14px
                    margin-top: 15px
                    max-width: 100%
                    line-height: normal
                .product-link-container
                  margin-top: 20px
                  .product-link
                    padding: 15px 20px
        .cover-slider-item.template2
          .product-wrapper
            .left-container
              .product-image-container
                .product-image
                  max-width: 68%
                  margin-bottom: 0
            .right-container
              .product-info-wrapper
                .product-intro-container
                  .product-description
                    max-width: 99%

        .cover-slider-item.template3
          .product-wrapper
            .left-container
              .product-image-container
                .product-image
                  &.horizontal-image
                    max-width: 70%
        .cover-slider-item.template4
          .product-wrapper
            .left-container
              .product-image-container
                .product-image
                  &.horizontal-image
                    max-width: 50%
        .cover-slider-item.template5
          .product-wrapper
            .right-container
              .product-info-wrapper
                .product-intro-container
                  .product-title
                    margin-top: 30px
                  .product-logo
                    margin-top: 30px
                    max-width: 50%
                .product-link-container
                  margin-top: 30px

  #ribbon
    .container-fluid
      .row
        .ribbon-item
          .ribbon-info-container
            .ribbon-intro-container
              .ribbon-icon
                height: 35px
            .ribbon-description
              margin-top: 15px
          &.ribbon2
            .ribbon-info-container
              .ribbon-intro-container
                .ribbon-icon
                  height: 18px

  #product-category
    .category-item
      width: 100%
      .category-link
        .category-title
          font-size: 28px

  #best-seller
    margin-bottom: 0
    .banner-section
      padding: 15px 30px
      .banner-title
        font-size: 14px
    .best-seller-container
      margin-top: 0
      margin-bottom: 0
      padding-left: 0
      padding-right: 0
      .best-seller-item
        width: 50%
        padding: 0
        margin-bottom: 0
        .best-seller-link
          .image-container
            .bg-overlay
              .best-seller-overlay-text
                display: block
                font-size: 12px
          .best-seller-title
            display: none

  #promo
    .banner-section
      padding: 15px 30px
      top: -25px
      .banner-title
        font-size: 14px
    .promo-slider-container
      padding-top: 60px
      width: 100%
      .promo-button-link
        font-size: 14px


  #video
    .content-container
      height: 250px

  #shop
    .container-fluid
      .row
        margin-left: 0
        margin-right: 0
        .right-container
          .shop-container
            .shop-link-container
              padding-top: 15px
              .shop-link
                font-size: 14px
                padding: 15px 30px
                display: inline-block
                max-width: 90%
                margin-left: auto
                margin-right: auto
                &.shop-lazada
                  margin-bottom: 0

  #instagram
    .banner-section
      padding: 15px 30px
      .banner-title
        font-size: 14px
    .instagram-slider-container
      margin-bottom: 0

@media (max-width: 420px)
  #shop
    .container-fluid
      .row
        .right-container
          .shop-container
            .shop-header-container
              .shop-cart
                display: none
              .shop-header
                margin-left: 0
            .shop-description-container
              padding-top: 15px

  #video
    .content-container
      #video-bg
        .video-content-container
          .video-button
            height: 65px
    .more-vlogs-container
      height: auto
      .vlog-text
        display: block
        margin-right: 0
        padding-left: 20px
        padding-right: 20px
      .vlog-button
        display: inline-block
        padding: 10px 45px

//Iphone X
@media (max-width: 380px)
  #sticky-social
    top: 30%

  #cover
    #cover-slider
      .cover-slider-wrapper
        .cover-slider-item.template2
          .product-wrapper
            .left-container
              .product-image-container
                .product-image
                  max-width: 79%
        .cover-slider-item.template3
          .product-wrapper
            .left-container
              .product-image-container
                .product-image
                  &.horizontal-image
                    max-width: 85%

        .cover-slider-item.template4
          .product-wrapper
            .left-container
              .product-image-container
                .product-image
                  &.horizontal-image
                    max-width: 66%

  #promo
    .promo-slider-container
      #promo-slider
        .swiper-slide
          min-height: 130px


                






