@import "fonts"
@import "body"
@import "product-navbar"
@import "footer"
@import "modal"

body
  margin-top: 101px
#promotion
  position: relative
  min-height: 100vh
  background-color: #f5f5f5
  .container
    .promo-list
      .header
        margin-top: 30px
        margin-bottom: 30px
        font-size: 22px
        text-align: center
      .image
        margin-bottom: 30px

@media (max-width: 1200px)
  body
    margin-top: 71px



