@import "fonts"
@import "body"
@import "product-navbar"
@import "footer"
@import "modal"

body
  margin-top: 86px
#promotion
  padding-top: 30px
  padding-bottom: 30px
  position: relative
  background-color: #f5f5f5
  min-height: 92vh
  .container
    max-width: 970px
    .promo-wrapper
      position: relative
      min-height: 0 !important
      .promo-list
        margin-bottom: 30px
        .header
          margin-top: 30px
          margin-bottom: 30px
          font-size: 22px
          text-align: center
        .promo-image-container
          opacity: 1
          transition: opacity 300ms ease-in-out
          -webkit-transition: opacity 300ms ease-in-out
          -moz-transition: opacity 300ms ease-in-out
          -o-transition: opacity 300ms ease-in-out
          -ms-transition: opacity 300ms ease-in-out

          &.loading
            background-color: #f7f7f7
            padding-bottom: 100% !important

      .pagination-container
        float: left
        position: relative
        display: block!important
        width: 100%
        .pagination
          display: table !important
          padding-top: 15px
          position: relative
          margin-left: auto
          margin-right: auto
          a
            list-style: none
            float: left
            min-width: 14px
            margin: 0 5px 0 0
            border-radius: 0
            box-shadow: 0 1px 2px rgba(0,0,0,0.2)
            background: #efefef
            background: -moz-linear-gradient(top, #ffffff 0%, #efefef 100%)
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#efefef))
            background: -webkit-linear-gradient(top, #ffffff 0%,#efefef 100%)
            background: -o-linear-gradient(top, #ffffff 0%,#efefef 100%)
            background: -ms-linear-gradient(top, #ffffff 0%,#efefef 100%)
            background: linear-gradient(top, #ffffff 0%,#efefef)
            color: #666
            display: block
            text-decoration: none
            font-size: 14px
            line-height: 24px
            font-weight: normal
            text-align: center
            background-color: transparent
            border-color: transparent
            padding: 5px 15px
            &.jp-disabled, &.jp-current
              background: #666
              color: #FFF
              border-color: #444
              box-shadow: 0 1px 0 rgba(255,255,255,1), 0 0 2px rgba(0, 0, 0, 0.3) inset
              cursor: default

@media (max-width: 1200px)
  body
    margin-top: 71px

@media (max-width: 480px)
  #promotion
    padding-top: 0



