@import "fonts"
@import "body"
@import "navbar"
@import "footer"
@import "modal"

#video-container
  padding-top: 90px
  #ibacordotcom-content
    margin: 0

@media (max-width: 991px)
  #video-container
    padding-top: 10px
  
footer
  position: absolute
  bottom: 0