@import "../body"
@import "../navbar"
@import "../footer"
@import "../fonts"

$white: white
$black: black
$gray: #333333
$skyblue: #0fb5b3

#mock-up
  background-image: url("/img/front.jpg")
  opacity: 0.8
  background-size: cover
  background-position: top
  background-repeat: no-repeat

a:hover,
a:focus
  text-decoration: none
  color: transparent
.active
  color: red

#cover
  top: 0px
  height: inherit
  .full-width
    padding-left: 0
    padding-right: 0
    overflow: hidden
    .row-no-gutter
      margin: 0
      [class*="col-"]
        padding: 0
        .img-full-width
          width: 100%
          height: auto
      .category-container
        position: relative
        .img-full-width
          width: 100%
          height: auto
        .category-title
          top: 0
          width: 100%
          height: 100%
          color: #ffffff
          position: absolute
          background: rgba(0,0,0,0.3)
          padding: 23% 15px 0 15px
          line-height: 25px
          transition: all 500ms ease
          h3
            margin: 0
          p
            margin: 0px
            display: none

#video
  height: inherit
  position: relative
  .container
    position: relative
    .vimeo-container
      margin: 50px 0px
      .section-header
        font-size: 20px
        margin-bottom: 50px
      iframe
        width: 100%
        height: 322px
      h4
        font-size: 16px
      p
        font-size: 14px
        text-align: justify
        letter-spacing: 0px
        line-height: 25px
        margin: 20px 0px
        &:last-child
          margin-bottom: 30px
    .facebook-container
      margin: 50px 0px
      .section-header
        font-size: 20px
        margin-bottom: 50px

@media screen and (max-width: 540px)
  #cover
    .full-width
      .row-no-gutter
        .category-container
          .category-title
            p
              line-height: 20px
              font-size: 15px








