@import "../body"
@import "../product-navbar"
@import "../footer"
@import "../fonts"
@import "../modal"

body
  margin-top: 132px !important
#whatsnew
  height: 100%
  min-height: 100vh
  position: relative
  .grid
    &:after
      content: ''
      display: block
      clear: both
    .grid-item
      float: left
      background: #0D8
      border: 3px solid #FFFFFF
      &.grid-item-1, &.grid-item-4, &.grid-item-6, &.grid-item-7, &.grid-item-8, &.grid-item-9, &.grid-item-12
        width: 40%
        height: 33.33vh

      &.grid-item-2, &.grid-item-3, &.grid-item-10, &.grid-item-11
        width: 30%
        height: 50vh


      &.grid-item-5, &.grid-item-7
        width: 60%
        height: 50vh







