<div class="container">
    <h4>SITE MAP</h4>
    <div id="content-about">
        <h5>ABOUT FASHION21</h5>
        <ul>
            <li>
                <a href="">About Us</a>
            </li>
            <li>
                <a href="">Legal Terms</a>
            </li>
            <li>
                <a href="">Site Map</a>
            </li>
        </ul>
    </div>

    <div id="content-product">
        <h5>PRODUCTS</h5>
        <ul>
            <li>
                <ul>
                    <h6>EYES</h6>

                    <li>
                        <a href="">Brow Liner</a>
                    </li>
                    <li>
                        <a href="">Eye Shadow</a>
                    </li>
                </ul>
            </li>

            <li>

            </li>
            <li>

            </li>
        </ul>
    </div>
</div>