<div class="container">
    <div class="content-section">
        <h4>SITE MAP</h4>
        {% for sitemap in site.data.sitemap %}
        <h4>
            <a href="{{ sitemap.url }}">
                {{ sitemap.name | upcase }}
            </a>
        </h4>
            {% for sitemap-item in sitemap.products %}
            <h5>
                <a href="{{ sitemap-item.url }}">
                    {{ sitemap-item.name | upcase }}
                </a>
            </h5>
            {% endfor %}
        {% endfor %}
    </div>
</div>
</div>