---
permalink: video/
css: /css/video.css
---
<html>
<head>

    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=yes" />
    <title>Fashion 21 | Video</title>
    <link type="text/css" rel="stylesheet" href="/css/ycp-2.css" />
    <link type="text/css" rel="stylesheet" href="{{ page.css }}" />


</head>
<body>
{% include navbar/navbar.html %}
{% include sticky-social.html %}
<div id="video-container" class="container">
    <div id="unix" data-ycp_title = 'Fashion21Cosmetics Videos' data-ycp_channel="cosrev05"></div>
</div>
{% include footer.html %}
{% include search/search-modal.html %}
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js" integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/search.js"></script>
<script src="/js/ycp.js"></script>
<script>
    $(function() {
        $("#unix").ycp({
            apikey : 'AIzaSyBhwF6H4ad5rAnwE25Z07jVIJBzFcH7ef4',
            playlist : 50,
            autoplay : true,
            related : true
        });
    });
</script>
<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>
</body>
</html>
