<div class="container">
    <div class="row">
        <div class="grid">
            {% assign sorted-whatsNew = site.data.whats-new | sort: "id"  %}
            {% for whatsNew in sorted-whatsNew %}
            <a href="{{ whatsNew.url }}">
                <div class="grid-item {{ whatsNew.class }}">
                    <img class="img-responsive" alt="{{ whatsMew.title }}" src="{{ whatsNew.image }}"/>
                    <div class="caption hidden-md hidden-sm hidden-xs">
                        <div class="blur">
                            <div class="caption-text">
                                <h1>{{ whatsNew.title }}</h1>
                                <p>{{ whatsNew.description }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>
