<div class="container-fluid">
    <div class="row">
        <div class="grid">
            <img class="grid-item grid-item-1" src="http://res.cloudinary.com/dp79ddrmc/image/upload/v1455097359/whatsnew/1-eyelashCurler.jpg"/>
            <img class="grid-item grid-item-2" src="http://res.cloudinary.com/dp79ddrmc/image/upload/v1455097359/whatsnew/2-twistEyePencil.jpg"/>
            <img class="grid-item grid-item-2" src="http://res.cloudinary.com/dp79ddrmc/image/upload/v1455097359/whatsnew/3-peachPerfectLipstick.jpg"/>
            <img class="grid-item grid-item-1" src="http://res.cloudinary.com/dp79ddrmc/image/upload/v1455097359/whatsnew/4-eyeShadowKit.jpg"/>
            <img class="grid-item grid-item-3" src="http://res.cloudinary.com/dp79ddrmc/image/upload/v1455097359/whatsnew/6-redRomance.jpg"/>
            <img class="grid-item grid-item-1" src="http://res.cloudinary.com/dp79ddrmc/image/upload/v1455097359/whatsnew/5-fakeLashes.jpg"/>
            <img class="grid-item grid-item-3" src="http://res.cloudinary.com/dp79ddrmc/image/upload/v1455097359/whatsnew/7-kabukiBrush.jpg"/>
            <img class="grid-item grid-item-1" src="http://res.cloudinary.com/dp79ddrmc/image/upload/v1455097359/whatsnew/8-eyelashAdhesive.jpg"/>
            <img class="grid-item grid-item-1" src="http://res.cloudinary.com/dp79ddrmc/image/upload/v1455097359/whatsnew/11-multiFunctionBrush.jpg"/>
            <img class="grid-item grid-item-2" src="http://res.cloudinary.com/dp79ddrmc/image/upload/v1455097359/whatsnew/10-eyebrowGel.jpg"/>
            <img class="grid-item grid-item-2" src="http://res.cloudinary.com/dp79ddrmc/image/upload/v1455097359/whatsnew/9-pushUpBrush.jpg"/>
            <img class="grid-item grid-item-1" src="http://res.cloudinary.com/dp79ddrmc/image/upload/v1455097359/whatsnew/12-eyeShadowBrush.jpg"/>
        </div>
    </div>
</div>