<div class="container">
    {% for whatsNew in site.products %}
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 whats-new-content">
        <div class="col-lg-5 col-md-5 col-sm-12  whats-new-left">
            <img class="whats-new-image center-block" src="{{ whatsNew.feature_image }}"/>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-12 whats-new-right">
            <h2 class="whats-new-title">{{ whatsNew.title }}</h2>
            <p class="whats-new-description">A highly pigmented, long-lasting lipstick that delivers rich color in one stroke.</p>
        </div>
    </div>
    {% endfor %}
</div>