---
layout: pages/blog-list
permalink: blog/
---
<section id="banner">
    <div class="banner-image-container">
        <img src="https://res.cloudinary.com/f21cosmetics/image/upload/v1553929122/assets/banner/banner-left2019.png" class="banner-image banner-left"/>
        <img src="https://res.cloudinary.com/f21cosmetics/image/upload/v1553923361/assets/banner/banner-right2019.png" class="banner-image banner-right"/>
    </div>
    <div class="banner-text-container">
        <header class="banner-text">Blogs</header>
    </div>
</section>
<section id="video">
    {% include blog-list/video.html %}
</section>
<section id="blog">
    {% include blog-list/blog.html %}
</section>
