---
layout: pages/blog-list
permalink: blog/
---
<section id="banner">
    <div class="bg-overlay"></div>
    <div class="banner-wrapper">
        <div class="model-container">
            <img src="https://res.cloudinary.com/f21cosmetics/image/upload/v1536075037/assets/banner/banner-model.png" class="model"/>
        </div>
        <header class="banner-text">Blog & Video</header>
    </div>
</section>
<section id="video">
    {% include blog-list/video.html %}
</section>
<section id="blog">
    {% include blog-list/blog.html %}
</section>