---
layout: pages/blog-list
permalink: blog/
---
<section id="banner">
    <div class="banner-image-container">
        <img src="https://res.cloudinary.com/f21cosmetics/image/upload/v1536231404/assets/banner/banner-left.jpg" class="banner-image banner-left"/>
        <img src="https://res.cloudinary.com/f21cosmetics/image/upload/v1536231406/assets/banner/banner-right.jpg" class="banner-image banner-right"/>
    </div>
    <div class="banner-text-container">
        <header class="banner-text">Blog & Video</header>
    </div>
</section>
<section id="video">
    {% include blog-list/video.html %}
</section>
<section id="blog">
    {% include blog-list/blog.html %}
</section>