<div class="container-fluid">
    <div class="row">
        <div class="banner-section">
            <span class="banner-title">Best Sellers</span>
        </div>
    </div>
    <div class="row">
        <div class="best-seller-container container">
            {% for bestSeller in site.data.best-seller %}
            <div class="col-md-3 col-sm-6 col-xs-12 best-seller-item">
                <a href="{{ bestSeller.link }}" class="best-seller-link">
                    <div class="image-container loading">
                        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ bestSeller.image }}" class="b-lazy best-seller-image img-responsive" alt="{{bestSeller.title}}"/>
                        <div class="bg-overlay">
                            <span class="best-seller-overlay-text">View Product</span>
                        </div>
                    </div>
                    <span class="best-seller-title">{{ bestSeller.title }}</span>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>