<!-- Swiper -->
<div id="cover-slider" class="swiper-container">
    <div class="swiper-wrapper cover-slider-wrapper">
        {% for headerCarousel in site.data.header-carousel %}
            <div class="swiper-slide cover-slider-item" style="background-image: url('{{ headerCarousel.background }}')">
                <div class="product-wrapper">
                    <div class="left-container">
                        <div class="product-image-container">
                            <img src="{{ headerCarousel.product-image }}" class="{{ headerCarousel.imageType }} center-block product-image" />
                        </div>
                    </div>
                    <div class="right-container">
                        <div class="product-info-wrapper">
                            <div class="product-intro-container">
                                <span class="product-title">{{ headerCarousel.title }}</span>
                                <p class="product-description">{{ headerCarousel.description }}</p>
                            </div>
                            <div class="product-link-container">
                                <a href="{{ headerCarousel.link }}" class="product-link">View Product</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    <div class="swiper-pagination"></div>
</div>
<!--<div class="swiper-button-container">-->
    <!--<div class="swiper-button-prev"></div>-->
    <!--<div class="swiper-button-next"></div>-->
<!--</div>-->

