<div class="container-fluid full-width-height">
    <div class="row row-no-gutter full-width-height">
        <div class="col-sm-12 full-width" id="cover-carousel">
            <div id="carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    {% for promoItems in site.data.carousel.promoItems %}
                    <div class="item">
                        <div class="fill" style="background-image:url('{{ promoItems.image }}');"></div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
