<div class="container-fluid">
    <div class="row">
        <div class="banner-section">
            <span class="banner-title">PROMOS</span>
        </div>
    </div>

    <div class="row">
        <div class="promo-slider-container container">
            <div id="promo-slider" class="swiper-container">
                <div class="swiper-wrapper">
                    {% for promoSlider in site.data.promoSlider %}
                    {% if promoSlider.isPromo == true %}
                    <div class="swiper-slide" data-id="slug#{{ promoSlider.id }}">
                        <img data-src="{{ promoSlider.image }}" class="swiper-lazy img-responsive center-block"/>
                        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="swiper-button-container">
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>

            <div class="promo-button-container">
                <a href="/promotion/" class="promo-button-link">More Promos</a>
            </div>
        </div>
    </div>
</div>