<h2 class="text-center">TOP PICKS</h2>

<ul id="product-img-slider">
    <li class="text-center">
        <a href="">
            <img src="http://lorempixel.com/g/400/200/"/>
            <h3>Title</h3>
        </a>
    </li>
    <li class="text-center">
        <a href="">
            <img src="http://lorempixel.com/g/400/200/"/>
            <h3>Title</h3>
        </a>
    </li>
    <li class="text-center">
        <a href="">
            <img src="http://lorempixel.com/g/400/200/"/>
            <h3>Title</h3>
        </a>
    </li>
    <li class="text-center">
        <a href="">
            <img src="http://lorempixel.com/g/400/200/"/>
            <h3>Title</h3>
        </a>
    </li>
    <li class="text-center">
        <a href="">
            <img src="http://lorempixel.com/g/400/200/"/>
            <h3>Title</h3>
        </a>
    </li>
</ul>
