<div class="container-fluid">
    <div class="row">
        {% assign counter = 0 %}
        {% for ribbon in site.data.ribbon %}
        <div class="col-md-4 ribbon-item {% cycle 'ribbon1', 'ribbon2', 'ribbon3' %}">
            <div class="ribbon-info-container">
                <div class="ribbon-intro-container">
                    <img src="{{ ribbon.icon }}" class="ribbon-icon" />
                    <span class="ribbon-title">{{ ribbon.title }}</span>
                </div>
                <p class="ribbon-description">{{ ribbon.description }}</p>
            </div><!--ribbon-intro-container-->
        </div><!--ribbon-item-->
        {% endfor %}
    </div><!--row-->
</div><!--container-fluid-->