<div class="container-fluid">
    <div class="row">
        <div class="left-container visible-lg visible-md visible-sm hidden-xs">
            <div class="model-container">
                <img src="https://res.cloudinary.com/f21cosmetics/image/upload/assets/shop/girl-model.png" class="model-image center-block"/>
            </div>
        </div><!--left-container-->
        <div class="right-container">
            <div class="shop-container">
                <div class="shop-header-container">
                    <img src="https://res.cloudinary.com/f21cosmetics/image/upload/assets/shop/shopping-cart.png" class="shop-cart"/>
                    <span class="shop-header">Shop Online</span>
                </div>
                <div class="shop-description-container">
                    <p class="shop-description">Enjoy hassle free cash on delivery shopping today!</p>
                </div>
                <div class="shop-link-container">
                    <a href="#" target="_blank" class="shop-link shop-lazada">
                        <img class="cart-icon" src="https://res.cloudinary.com/f21cosmetics/image/upload/v1536065778/assets/icon/lazada-icon.png">

                    </a>
                    <a href="https://shopee.ph/fashion21.ph" target="_blank" class="shop-link shop-shopee">
                        <img class="cart-icon" src="https://res.cloudinary.com/f21cosmetics/image/upload/v1536065778/assets/icon/shopee-icon.png">
                    </a>
                </div>
            </div>
        </div>
    </div><!--row-->
</div><!--container-fluid-->