<div class="container-fluid">
    <div class="row">
        <img class="top-pick-header center-block" src="/img/top-pick.png"/>
        <div id="product-slider">
            {% for topPicks in site.products %}
                {% if topPicks.top-pick == true %}
                    <a href="{{ topPicks.url }}">
                        <div class="col-top-pick" style="background-image: url('{{ topPicks.feature_image }}');">
                            <span class="top-pick-title">{{ topPicks.title }}</span>
                        </div>
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
