<div class="container">
    <div class="row row-content">
        <div class="col-md-6 vimeo-container">
            <h6 class="text-center section-header">VIDEOS</h6>
            <div class="video-container">
                <iframe src="https://player.vimeo.com/video/150996954" class="video-tutorial" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
            <article>
                <h4 class="text-center">LOOK FRESH ALL DAY</h4>
                <p>Fashion 21 Cosmetics offers a wide range of cosmetic line. From eyeshadow, lipstick, brushes, foundation and lip glosses.</p>
                <p>Want to learn more on how to put on make-up. Watch the video or view more videos to search for more tutorials.</p>
                <h6 class="text-center" >VIEW MORE TUTORIALS</h6>
            </article>
        </div>
        <div class="col-md-6 facebook-container" align="center">
            <h6 class="text-center section-header">FACEBOOK</h6>
            <div class="fb-page" data-href="https://www.facebook.com/F21Cosmetics" data-width="500" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="true">
                <div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/F21Cosmetics">
                    <a href="https://www.facebook.com/F21Cosmetics">Fashion 21 Cosmetics</a>
                </blockquote>
                </div>
            </div>
        </div>
    </div>
</div>
