<div class="container">
    <div class="row row-content">
        <div class="col-md-6">
            <h6 class="text-center video-header">VIDEOS</h6>
            <div class="video-container">
                <iframe src="https://player.vimeo.com/video/128335945" class="video-tutorial" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
            <article>
                <h4 class="text-center">LOOK FRESH ALL DAY</h4>
                <p>Fashion 21 Cosmetics offers a wide range of cosmetic line. From eyeshadow, lipstick, brushes, foundation and lip glosses.</p>
                <p>Want to learn more on how to put on make-up. Watch the video or view more videos to search for more tutorials.</p>
                <h6 class="text-center" >VIEW MORE TUTORIALS</h6>
            </article>
        </div>
        <div class="col-md-6">

        </div>
    </div>
</div>
