
<div class="container-fluid content-container no-gutter">
    <div id="video-bg" style="background-image: url('{{ site.data.video-promotional.video-poster }}');">
        <img class="video-button center-block" src="/img/video-button.png">
    </div>
    <div id="iframe-video" data-video="{{ site.data.video-promotional.video-link }}"></div>
</div>

<div class="more-vlogs-container">
    <p class="vlog-text">Check out beauty tips, tutorials, and vlogs</p>
    <a href="/video/" class="vlog-button">WATCH</a>
</div>


