<div class="row">
    <div class="col-md-8">
        <h3>About</h3>
        <p>
            Fashion 21 Cosmetics is one of the country's top make-up brand over 25 years.
            Known for its trendy, affordable and quality cosmetics, Fashion 21 Cosmetics brings a
            touch of youthful flavor in each and every product. Fashion 21 Cosmetics is always
            inventing. From eye-candy packaging to skin-enriching vitamins, we see it our products
            remain competitive and beneficial to our consumers.
        </p>
        <p>
            Fashion 21 Cosmetics is also famous for its keen color selection.
            With an assortment of over 200  shades and colors available for the face, eyes, cheeks and lips combined,
            it’s no question why we always have something for everyone no matter what the season is.
        </p>
        <p>
            Fashion 21 Cosmetics is one of the country’s top make-up brand over 25 years.
            Known for its trendy, affordable and quality cosmetics, Fashion 21 Cosmetics brings a touch of youthful flavor in each and every product.
            Fashion 21 Cosmetics is always inventing.
            From eye-candy  packaging to skin-enriching vitamins, we see it our products remain competitive and beneficial to our customers.
        </p>

        <h3>Contact us</h3>
        <address>
            <strong>Fashion 21 Cosmetics</strong><br>
            <abbr title="Phone">Tel. No:</abbr> 355-5311, 355-5322, 355-5388<br>
            <abbr title="Phone">Fax No.:</abbr> 355-3328<br>
            <abbr title="Email">Email:</abbr><a href="mailto:#"> cosmetics.revelation@gmail.com</a>
        </address>
    </div>
    <div class="col-md-4">
        <div>
            <h3>CORPORATE SOCIAL RESPONSIBILITY</h3>
        </div>
        <img class="center-block img-responsive" src="/img/about/voh.png"/>
        <h5>WEBSITE: <a href="http://www.visionsofhopefoundation.org">VISIONS OF HOPE FOUNDATION</a></h5>
        <p>Visions of Hope Foundation (VOH) is the Children and Youth Ministry of the Center for Community Transformation (CCT) , a Christian Development Organization implementing holistic and transformational programs and services among poor communities all over the Philippines. VOH began in the year 2000 as a program providing cash assistance to support the elementary and high school education of abandoned, orphaned, and neglected children in urban and rural poor communities where the CCT Microfinance program operates. Today, VOH operates preschools, boarding schools, community health clinics, and other community-based social services for children and youth. The various social services of VOH are geared towards nurturing the Filipino children and youth in Christ-centered faith families, empowering them as change agents for community transformation and nation-building.</p>

        <img class="center-block img-responsive" src="/img/about/kmi.png"/>
        <h5>WEBSITE: <a href="http://cct.org.ph/kaibigan-ministry/">KAIBIGAN MINISTRY</a></h5>
        <p>Kaibigan Ministry is work of the Center for Community Transformation among street dwellers. It began in 2005 with a simple Saturday dawn feeding-cum-Bible study program held outside the building in Manila where CCT has its support office.  The ministry has since grown into a broad range of programs and services meant to assimilate street dwellers, referred to as Kaibigan (Filipino word for friend), back into mainstream society. It aims to restore the dignity of street dwelling persons as individuals created in the image and likeness of God.</p>
        <div>
        </div>
    </div>

</div>
