<div class="row video-container">
    
    <div class="col-md-8">
        <div>
            <h1>About</h1>
        </div>
        
        <div>
            <p>Fashion 21 Cosmetics is one of the country's top make-up brand over 25 years.
            Known for its trendy, affordable and quality cosmetics, Fashion 21 Cosmetics brings a
            touch of youthful flavor in each and every product. Fashion 21 Cosmetics is always
            inventing. From eye-candy packaging to skin-enriching vitamins, we see it our products
            remain competitive and beneficial to our consumers.</p>
        </div>
    </div>
    
    <div class="col-md-4">
        <div>
            <h1>Corporate Social Responsibility</h1>
        </div>
            <img class="center-block img-responsive" src="/img/about/corporte-logo.png"/>
            <p>Fashion 21 Cosmetics is one of the country's top make-up brand over 25 years.
            Known for its trendy, </p>
        <div>
        </div>
    </div>
    
</div>
