<div class="row">
    <div class="col-md-8">
        <h3>About</h3>
        <p>
            Fashion 21 Cosmetics is one of the country's top make-up brand over 25 years.
            Known for its trendy, affordable and quality cosmetics, Fashion 21 Cosmetics brings a
            touch of youthful flavor in each and every product. Fashion 21 Cosmetics is always
            inventing. From eye-candy packaging to skin-enriching vitamins, we see it our products
            remain competitive and beneficial to our consumers.
        </p>
        <p>
            Fashion 21 Cosmetics is also famous for its keen color selection.
            With an assortment of over 200  shades and colors available for the face, eyes, cheeks and lips combined,
            it’s no question why we always have something for everyone no matter what the season is.
        </p>
        <p>
            Fashion 21 Cosmetics is one of the country’s top make-up brand over 25 years.
            Known for its trendy, affordable and quality cosmetics, Fashion 21 Cosmetics brings a touch of youthful flavor in each and every product.
            Fashion 21 Cosmetics is always inventing.
            From eye-candy  packaging to skin-enriching vitamins, we see it our products remain competitive and beneficial to our customers.
        </p>

        <h3>Contact us</h3>
        <address>
            <p>
            <!--<strong>Fashion 21 Cosmetics</strong><br>-->
            <abbr title="Phone">Tel. No:</abbr> 355-5311, 355-5322, 355-5388<br>
            <abbr title="Phone">Fax No.:</abbr> 355-3328<br>
            <abbr title="Email">Email:</abbr><a href="mailto:#"> cosmetics.revelation@gmail.com</a>
            </p>
        </address>
    </div>
    <div class="col-md-4">
        <div>
            <h3>Corporate Social Responsibility</h3>
        </div>
        <img class="center-block img-responsive" src="/img/about/voh.png"/>
        <p>Visions of Hope Foundation (VOH) is the Children and Youth Ministry of the Center for Community Transformation (CCT) , a Christian Development Organization implementing holistic and transformational programs and services among poor communities all over the Philippines. </p>
        <h5><b><a href="http://www.visionsofhopefoundation.org">Visit Visions of Hope Foundation Website</a></b></h5>

        <img class="center-block img-responsive" src="/img/about/kmi.png"/>
        <p>Kaibigan Ministry is work of the Center for Community Transformation among street dwellers. It began in 2005 with a simple Saturday dawn feeding-cum-Bible study program held outside the building in Manila where CCT has its support office.</p>
        <h5><b><a href="http://cct.org.ph/kaibigan-ministry/">Visit Kaibigan Ministry Website</a></b></h5>
      <div>
        </div>
    </div>

</div>
