@import "../body"
@import "../product-navbar"
@import "../footer"
@import "../fonts"
@import "../modal"

body
  margin-top: 132px !important

#productCategory
  .container-fluid
    padding-top: 28px
    h2
      margin-top: 0px
      small
        font-size: small
        color: red
        font-family: 'Avenir-Bold'
    .thumbnail
      border: none
      .caption
        border: 1px solid #ddd

@media screen and (max-width: 992px)
  #productCategory
    .category-menu-container
      .category-menu
        img
          display: none

//@media screen and (max-width: 1200px)
//  #productCategory
//    .category-menu-container
//      .category-menu
//        padding: 0
//        ul
//          margin-left: 20px
//
//@media screen and (max-width: 991px)
//  @media screen and (max-width: 1200px)
//  #productCategory
//    .category-menu-container
//      .category-menu
//        ul
//          display: none
//        button
//          display: block
