@import "../body"
@import "../product-navbar"
@import "../footer"
@import "../fonts"
@import "../modal"

body
  margin-top: 132px !important
.container-fluid
  .breadcrumb
    background-color: transparent
  h2
    margin: 0px
    small
      font-size: small
      color: red
      font-family: 'Avenir-Bold'
  .thumbnail
    border: none
