<!DOCTYPE html>
<html>
<head>
    {% include head/front-head.html %}
</head>

  <body id="mockp">
    {% include navbar/navbar.html %}
    {{ content }}
    {% include footer.html %}
    {% include search/searchModal.html %}

    <script type="text/javascript" src="/js/jquery-1.11.3.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/front.js"></script>
    <script type="text/javascript" src="/js/socialWidgets.js"></script>
    <script type="text/javascript" src="/js/search.js"></script>
  </body>

</html>
