<!DOCTYPE html>
<html>
<head>
    {% include head/productItem-head.html %}
</head>

<body>
{% include navbar/product-navbar.html %}
{% include navbar/productCategory-navbar.html %}
<div class="container-fluid">
    <ol class="breadcrumb">
        <li><a href="#">FASHION 21</a></li>
        <li><a href="#">PRODUCTS</a></li>
        <li><a href="#">p.poweder-ls-bp</a></li>
    </ol>
    <div class="col-md-3 col-lg-3">
        {% include product/productSidebar.html %}
    </div>
    <div class="item col-md-9 col-lg-9">
        <div class="col-md-6">
            <div class="thumbnail">
                <img class="group list-group-image" src="http://placehold.it/640x400/000/fff" alt="">
            </div>
        </div>
        <div class="col-md-6">
            <div class="caption">
                <h4 class="group inner list-group-item-heading">{{ page.title}}</h4>
                <p class="group inner list-group-item-text">{{ content }}</p>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <p class="lead">₱ {{ page.price }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% include footer.html %}
<script type="text/javascript" src="/js/jquery-1.11.3.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/productCategory.js"></script>
</body>
</html>
