<!DOCTYPE html>
<html>
<head>
    {% include head/productCategory-head.html %}
</head>

<body>
{% include navbar/product-navbar.html %}
{% include navbar/productCategory-navbar.html %}
{{content}}
{% include footer.html %}
<script type="text/javascript" src="/js/jquery-1.11.3.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/productCategory.js"></script>
<script type="text/javascript" src="/js/socialWidgets.js"></script>

</body>
</html>
