<!DOCTYPE html>
<html>
<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-PS7T5GL');</script>
    <!-- End Google Tag Manager -->
    {% include head/product-item-category-head.html %}
    
</head>

<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PS7T5GL" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
{% include navbar/navbar.html %}
{% include navbar/product-navbar.html %}
{% include sticky-social.html %}
<div class="container-fluid">
    <div class="item col-lg-12 col-md-12">
        <h2>{{ page.title | capitalize}}</a></h2>
        <hr>
        <div id="products" class="row list-group">
            {% for product in site.products %}
            {% for category in product.categories %}
            {% if category == page.title %}
                <div class="item col-sm-6 col-lg-3 col-sm-6 col-xs-6">
                    <a href="{{ product.url }}">
                        <div class="thumbnail">
                            <div class="loading">
                                <img class="center-block group list-group-image b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ product.feature_image }}" alt="{{ product.title }}" />
                            </div>
                            <div class="caption text-center">
                                <h4 class="group inner list-group-item-heading">{{ product.title }}</h4>
                            </div>
                        </div>
                    </a>
                </div>
            {% endif %}
            {% endfor %}
            {% endfor %}
        </div>
    </div>
</div>

{% include footer.html %}
{% include search/search-modal.html %}
<script type="text/javascript" src="/js/jquery-1.11.3.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/plugins/blazy.min.js"></script>
<script type="text/javascript" src="/js/search.js"></script>
<script type="text/javascript">
//    $(window).scroll(function() {
//        if ($(document).scrollTop() > 50) {
//            $('nav').addClass('shrink');
//        } else {
//            $('nav').removeClass('shrink');
//        }
//    });

    $(document).ready(function(){
        var blazy = new Blazy({
            breakpoints: [{
                src: 'data-src'
            }],
            success: function(element){
                setTimeout(function(){
                    var parent = element.parentNode;
                    parent.className = parent.className.replace(/\bloading\b/,'');
                }, 200);
            }
        });
    });

</script>
<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>
</body>
</html>
