<!DOCTYPE html>
<html>
<head>
    {% include head/product-item-head.html %}
</head>

<body>
{% include navbar/product-navbar.html %}
{% include sticky-social.html %}
<div class="container-fluid">
    <div class="col-md-3 col-lg-3 col-sm-4 hidden-xs">
        {% include product/product-sidebar.html %}
    </div>
    <div class="item col-md-9 col-lg-9 col-sm-8">
        <div class="col-md-6">
            <div class="thumbnail">
                <img class="group list-group-image" src="{{ page.feature_image }}" alt="">
            </div>
        </div>
        <div class="col-md-6">
            <div class="caption">
                <h2>{{ page.title}}</h2>
                <p>{{ content }}</p>
                <p>
                    <div class="product row">
                        <div class="swatch col-xs-9 vcenter">
                            {% unless page.colors[0].hex == 'N/A' %}
                                <h3>Colors Available:</h3>
                                {% if page.multiple_colors %}
                                    {% for color in page.colors %}
                                        <h5>{{ color.color }}</h5>
                                        <div class="swatches">
                                            {% assign multiple_colors = color.hex | split: "+" %}
                                            {% for color in multiple_colors %}
                                                <div data-toggle="popover" data-content="{{ color.color }}" class="swatch" style="background-color: #{{ color }};"></div>
                                            {% endfor %}
                                        </div>
                                    {% endfor %}
                                {% elsif page.color_image %}
                                <div class="swatches">
                                    {% for color in page.colors %}
                                    <h5>{{ color.color }}</h5>
                                    <img class="img-responsive" src="{{ color.hex }}" alt="{{ color.color }}">
                                    {% endfor %}
                                </div>
                                {% else %}
                                    <div class="swatches">
                                        {% for color in page.colors %}
                                            <div data-toggle="popover" data-content="{{ color.color }}" class="swatch" style="background-color: #{{ color.hex }};"></div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            {% endunless %}
                        </div>
                        {% if page.product_color_stroke == "foundation" %}
                        <div class="col-xs-3 color-picker-container vcenter">
                            <div class="color-picker">
                                <img class="img-responsive" src="/img/Foundation/FoundationColorTemplateShadows.png">
                                <img id="preview-color" class="img-responsive" src="/img/Foundation/FoundationColorTemplateAlpha.png" style="background-color: #{{ page.colors[0].hex }};">
                            </div>
                        </div>
                        {% elsif page.product_color_stroke == "brush" %}
                        <div class="col-xs-3 color-picker-container vcenter">
                            <div class="color-picker">
                                <img class="img-responsive" src="/img/Brush/BrushColorTemplateShadows.png">
                                <img id="preview-color" class="img-responsive" src="/img/Brush/BrushColorTemplateAlpha.png" style="background-color: #{{ page.colors[0].hex }};">
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                {% include disqus.html %}
            </div>
        </div>

        <div class="popular-products">
            <h3 class="text-center">YOU MAY ALSO LIKE</h3>
            <ul id="product-img-slider">
                {% for product in site.products %}
                {% if page.categories == product.categories %}
                <li class="text-center">
                    <a href="{{ product.url }}">
                        <img src="{{ product.feature_image }}"/>
                        <h3>{{ product.title }}</h3>
                    </a>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% include footer.html %}
{% include search/search-modal.html %}
<script type="text/javascript" src="/js/jquery-1.11.3.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/plugins/blazy.min.js"></script>
<script type="text/javascript" src="/js/product-category.js"></script>
<!--<script type="text/javascript" src="/js/social-widgets.js"></script>-->
<script type="text/javascript" src="/js/search.js"></script>
<script type="text/javascript" src="/js/lightslider.min.js"></script>
<script type="text/javascript" src="/js/light-image-slider.js"></script>
<script type="text/javascript" src="/js/product-item.js"></script>
<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>

<script type="text/javascript">
    $(document).ready(function(){
        var blazy = new Blazy({
            breakpoints: [{
                src: 'data-src'
            }],
            success: function(element){
                setTimeout(function(){
                    var parent = element.parentNode;
                    parent.className = parent.className.replace(/\bloading\b/,'');
                }, 200);
            }
        });
    });

</script>
</body>
</html>
