<!DOCTYPE html>
<html>
<head lang="en">
    {% include head/termsCondition-head.html %}
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    {% include navbar/navbar.html %}
    {{content}}
    {% include footer.html %}
    {% include search/searchModal.html %}
    <script type="text/javascript" src="/js/jquery-1.11.3.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/socialWidgets.js"></script>
    <script type="text/javascript" src="/js/search.js"></script>
    <script type="text/javascript">
        $(window).scroll(function() {
            if ($(document).scrollTop() > 50) {
                $('nav').addClass('shrink');
            } else {
                $('nav').removeClass('shrink');
            }
        });
    </script>
</body>
</html>