@import "../body"
@import "../navbar"
@import "../footer"
@import "../fonts"
@import "../modal"

.row
  p
    line-height: 30px

  .col-md-4
    h3
      font-size: 24px
    img
      margin: 30px auto
      height: 115px
    h5
      margin-bottom: 20px
      a
        text-decoration: none

