@import "../body"
@import "../navbar"
@import "../footer"
@import "../fonts"
@import "../modal"

//.row
//  p
//    line-height: 30px
//
//  .col-md-4
//    h3
//      margin-top: 35px
//      font-size: 24px
//      &:nth-child(2)
//        font-size: 20px
//    img
//      margin: 30px auto
//      height: 115px
//    h5
//      margin-bottom: 20px
//      a
//        text-decoration: none

.left-content
  margin-top: 35px
  p
    line-height: 30px
.right-content
  margin-top: 35px
  h3
    font-size: 20px
  p
    font-size: 13px
    line-height: 22px
  img
    margin: 30px 0
    height: 115px
