<nav class="navbar navbar-default navbar-fixed-top shrink">
    <div class="container">
        <div class="navbar-header" align="center">
            <button type="button" id="menu-button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="mobile-nav-brand">
                <a href="/"><img src="/img/brand-logo.png" class="brand-logo" alt="Brand Logo"></a>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbar-menu-collapse">
            <ul class="nav navbar-nav">
                {% assign urlArray = page.url | split:"/"  %}
                {% for navbar in site.data.navbar %}
                {% if navbar.id != 4 %}
                    {% if navbar.id == 2 %}
                    <li class="navbar-item">
                        <a href="/products/" {% if 'products' == urlArray[1] %}class="active-text navbar-link" {% else %} class="navbar-link"{% endif %}>PRODUCTS</a>
                    </li>
                    {% else %}
                    <li class="navbar-item">
                        <a href="{{ navbar.link }}" {% if page.url == navbar.link %} class="active-text navbar-link" {% else %} class="navbar-link" {% endif %}>{{ navbar.name | upcase }}
                        </a>
                    </li>
                    {% endif %}
                {% else %}
                <li class="navbar-item">
                    <a href="{{ navbar.link }}" class="navbar-link">
                        <img src="{{ navbar.logo }}" class="brand-logo-small" />
                    </a>
                </li>
                {% endif %}
                {% endfor %}
                <li class="navbar-item shop-link dropdown">
                    <a href="#" class="dropdown-toggle navbar-link-dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Shop Online <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="https://www.lazada.com.ph/shop/fashion21ph/?spm=a2o4l.pdp.seller.1.34eccbc96ET2y9" target="_blank">Lazada</a></li>
                        <li><a href="https://shopee.ph/fashion21.ph/" target="_blank">Shopee</a></li>
                    </ul>
                </li>
                <!--<a href="https://shopee.ph/fashion21.ph/" class="link navbar-link" target="_blank">SHOP ONLINE</a>-->

                <li class="navbar-item">
                    <a href="#" class="navbar-link" data-toggle="modal" data-target="#searchModal">
                        <span class="glyphicon glyphicon-search"/>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
