{% assign categories = site.category-page | sort: 'rank' %}
<nav class="navbar navbar-fixed-top navbar-default navbar-mobile">
    <div class="container">
        <div class="navbar-mobile">
            <nav class="category-menu mobile navbar-fixed-top">
                <ul>
                    <li>
                        <a href="javascript:void(0)" id="category-button" data-toggle="collapse" data-target="#navbar-category-collapse">CATEGORIES<span class="caret"></span></a>
                    </li>
                </ul>

                {% for category in categories %}
                {% if page.categories[0] == category.title or page.title == category.title %}
                {% assign category-header-image = category.category-header-image %}
                <img src="/img/{{ category-header-image }}" alt="Product Type">
                {% endif %}
                {% endfor %}
                {% if !page.category-header-image %}
                <img src="/img/{{ page.category-header-image }}" alt="Product Type">
                {% endif %}
            </nav>
        </div>
        <div class="collapse navbar-collapse" id="navbar-category-collapse">
            <ul class="nav navbar-nav">
                {% for categoryMenu in categories %}
                <div class="col-xs-6">
                    <li>
                        <a href="{{ categoryMenu.url }}">{{ categoryMenu.title | upcase }}</a>
                    </li>
                </div>
                {% endfor %}

            </ul>
        </div>
    </div>
</nav>
<nav class="category-menu navbar-fixed-top">
    <ul>
        {% for category in categories %}
        <li>
            <a {% if page.categories[0] == category.title or page.title == category.title %} class="active-category" {% endif %} href="{{ category.url }}">{{ category.title | upcase }}</a>
        </li>
        {% endfor %}

    </ul>
    <h1>{{ site.products.title }}</h1>
    {% if !page.category-header-image %}
        <img src="/img/{{ page.category-header-image }}" alt="Product Type">
    {% else if %}
        <img src="/img/{{ category-header-image }}" alt="Product Type">
    {% endif %}
</nav>




