<div class="category-menu-container">
    <div class="category-menu">
        <ul>
            {% for categoryMenu in site.data.products.categoryMenu %}
            <li>
                <a href="javascript:void(0)">{{ categoryMenu.name | upcase }}</a>
            </li>
            {% endfor %}
        </ul>
        <img src="/img/product/bar-image.png"/>
    </div>
</div>
<div class="container-fluid">
    <div class="col-md-3">
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Library</a></li>
            <li class="active">Data</li>
        </ol>
        {% include product/productSidebar.html %}
    </div>
    <div class="col-md-9">
    </div>
</div>